.nlux-AiChat-root {
    font-family: var(--nlux-font-family);
    font-size: var(--nlux-font-size);
    font-weight: var(--nlux-font-weight);
    line-height: var(--nlux-line-height);

    color: var(--nlux-text-color);
}
