.nlux-AiChat-root.nlux-theme-luna.nlux-colorScheme-light {
    --nlux-primaryBackgroundColor: #fff8e2;
    --nlux-primaryTextColor: #202020;

    --nlux-secondaryBackgroundColor: #6fc693;
    --nlux-secondaryTextColor: #ffffff;

    --nlux-ai-color: #b56ec8;
    --nlux-human-color: #4e8ebc;
}

.nlux-AiChat-root.nlux-theme-luna.nlux-colorScheme-dark {
    --nlux-primaryBackgroundColor: #285c3e;
    --nlux-primaryTextColor: #f4eed9;

    --nlux-secondaryBackgroundColor: #8e8c58;
    --nlux-secondaryTextColor: #ffffff;

    --nlux-ai-color: #542760;
    --nlux-human-color: #1d226a;
}

.nlux-AiChat-root.nlux-theme-luna {
    --nlux-humanMessage-backgroundColor: #5fe095;
    --nlux-humanMessage-borderColor: #6fc693;
    --nlux-humanMessage-textColor: #ffffff;

    --nlux-humanMessage-active-backgroundColor: #5fe095;
    --nlux-humanMessage-active-borderColor: #6fc693;
    --nlux-humanMessage-active-textColor: #ffffff;

    --nlux-aiMessage-backgroundColor: #f4f6f9;
    --nlux-aiMessage-borderColor: #dde5e2ff;
    --nlux-aiMessage-textColor: #18210c;

    --nlux-codeBlock-backgroundColor: #303530;
    --nlux-codeBlock-hover-backgroundColor: #404240;
    --nlux-codeBlock-text-color: #dde5e2ff;

    --nlux-inlineCode-backgroundColor: #d5dad1;
    --nlux-inlineCode-textColor: #18210c;

    --nlux-aiMessage-active-backgroundColor: #f4f6f9;
    --nlux-aiMessage-active-borderColor: #dde5e2ff;
    --nlux-aiMessage-active-textColor: #18210c;

    --nlux-exceptionsBox-backgroundColor: #d05858;
    --nlux-exceptionsBox-borderColor: #d05858;
    --nlux-exceptionsBox-textColor: #ffffff;
}
