/* Light color scheme variables */
.nlux-AiChat-root.nlux-theme-luna.nlux-colorScheme-light {
    --nlux-primary-bgClr: #f8f4e7;
    --nlux-primary-foregroundColor: #202020;

    --nlux-secondary-bgClr: #10c17d;
    --nlux-secondary-foregroundColor: #ffffff;

    --nlux-human-bgClr: #eafff3;
    --nlux-human-foregroundColor: #09101d;

    --nlux-ai-bgClr: #f4f6f9;
    --nlux-ai-foregroundColor: #09101d;
}

/* Dark color scheme variables */
.nlux-AiChat-root.nlux-theme-luna.nlux-colorScheme-dark {
    --nlux-primary-bgClr: #191818;
    --nlux-primary-foregroundColor: #f8f4e7;

    --nlux-secondary-bgClr: #10c17d;
    --nlux-secondary-foregroundColor: #ffffff;

    --nlux-human-bgClr: #161b20;
    --nlux-human-foregroundColor: #ffffff;

    --nlux-ai-bgClr: #10c17d;
    --nlux-ai-foregroundColor: #ffffff;
}

/* Common color variables */
.nlux-AiChat-root.nlux-theme-luna {
    --nlux-cdBlk--bgClr: #303530;
    --nlux-cdBlk-hover--bgClr: #404240;
    --nlux-cdBlk-text-color: #dde5e2ff;

    --nlux-inlnCd--bgClr: #d5dad1;
    --nlux-inlnCd--txtClr: #18210c;
}
