.nlux-AiChat-root.nlux-theme-luna {
    --nlux-font-family: 'IBM Plex Sans', sans-serif;
    --nlux-mono-font-family: monospace;

    --nlux-font-weight: 400;
    --nlux-line-height: 1.2;

    --nlux-font-size: 1rem;
    --nlux-font-size-s: 0.8rem;
    --nlux-font-size-l: 1.2rem;

    --nlux-padding-xs: 0.1rem;
    --nlux-padding-s: 0.3rem;
    --nlux-padding: 0.6rem;
    --nlux-padding-m: 0.7rem;
    --nlux-padding-l: 0.9rem;

    --nlux-flex-gap: 0.8rem;

    --nlux-border-radius-xs: 4px;
    --nlux-border-radius-s: 6px;
    --nlux-border-radius: 8px;
    --nlux-border-radius-m: 10px;
    --nlux-border-radius-l: 12px;

    --nlux-border-width: 1px;
    --nlux-box-shadow: 0 0 2px rgb(0 0 0 / 30%);
}
