#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.stock-wiz {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content {
    display: flex;
    overflow: visible;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    height: 650px;
    gap: 25px;
}

.nluxc-root.aichat {
    overflow: hidden;
    flex: 1;
    min-width: 320px;
    height: auto;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    background-color: #f5fcee;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
