.nlux-AiChat-root.nlux-theme-nova.nlux-colorScheme-dark {
    /** Exceptions box */
    --nlux-Exceptions--BackgroundColor: tomato;
    --nlux-Exceptions--BorderColor: darkred;
    --nlux-Exceptions--TextColor: white;

    /** Welcome message */
    --nlux-WelcomeMessage-Avatar--BorderColor: transparent;
    --nlux-WelcomeMessage-Avatar--BackgroundColor: transparent;

    /** Divider between composer and messages */
    --nlux-ChatRoom-Divider--Color: #71717a;

    /** Conversation loader */
    --nlux-ChatRoom-Loader--Color: #71717a;

    /** Conversation content color */
    --nlux-ChatRoom--BackgroundColor: #151515;
    --nlux-ChatRoom--BorderColor: transparent;
    --nlux-ChatRoom--TextColor: #ffffff;

    /** Participant info in chat */
    --nlux-ChatItem-ParticipantName--Color: #ffffff;

    /* Human message in chat */
    --nlux-HumanMessage--BackgroundColor: #323232;
    --nlux-HumanMessage--BorderColor: transparent;
    --nlux-HumanMessage--TextColor: #ffffff;

    /** AI message in chat */
    --nlux-AiMessage--BackgroundColor: #494949;
    --nlux-AiMessage--BorderColor: transparent;
    --nlux-AiMessage--TextColor: #ffffff;

    /** Prompt input colors */
    --nlux-PromptInput--BackgroundColor: transparent;
    --nlux-PromptInput--BorderColor: transparent;
    --nlux-PromptInput--TextColor: #71717a;

    --nlux-PromptInput-Active--BackgroundColor: transparent;
    --nlux-PromptInput-Active--BorderColor: transparent;
    --nlux-PromptInput-Active--TextColor: #ffffff;

    --nlux-PromptInput-Disabled--BackgroundColor: transprent;
    --nlux-PromptInput-Disabled--TextColor: transprent;
    --nlux-PromptInput-Disabled--BorderColor: transprent;

    --nlux-PromptInput-Placeholder--TextColor: #71717a;
    --nlux-PromptInput-Focus-Outline--Color: transparent;

    /** Submit button colors */
    --nlux-SubmitButton--BackgroundColor: transparent;
    --nlux-SubmitButton--BorderColor: transparent;
    --nlux-SubmitButton--TextColor: #71717a;

    --nlux-SubmitButton-Active--BackgroundColor: transparent;
    --nlux-SubmitButton-Active--BorderColor: transparent;
    --nlux-SubmitButton-Active--TextColor: #ffffff;

    --nlux-SubmitButton-Disabled--BackgroundColor: transparent;
    --nlux-SubmitButton-Disabled--BorderColor: transparent;
    --nlux-SubmitButton-Disabled--TextColor: #71717a;

    --nlux-SubmitButton-Focus-Outline--Color: transparent;

    /** Code block */
    --nlux-CodeBlock--BackgroundColor: #2b2b2b;
    --nlux-CodeBlock--BorderColor: transparent;
    --nlux-CodeBlock--TextColor: #ffffff;
    --nlux-CodeBlock-Hover--BackgroundColor: #3b3b3b;

    /** Code block copy button */
    --nlux-CodeBlock-CopyButton--BackgroundColor: #434342;
    --nlux-CodeBlock-CopyButton--BorderColor: #c5c5c3;
    --nlux-CodeBlock-CopyButton--TextColor: #ffffff;

    /** Code block copy button in clicked state */
    --nlux-CodeBlock-CopyButton-Clicked--BackgroundColor: #393930;
    --nlux-CodeBlock-CopyButton-Clicked--BorderColor: #393930;
    --nlux-CodeBlock-CopyButton-Clicked--TextColor: #ffffff;

    /** Inline code in markdown */
    --nlux-InlineCode--BackgroundColor: #393930;
    --nlux-InlineCode--BorderColor: transparent;
    --nlux-InlineCode--TextColor: #ffffff;

    /** Conversation starters */
    --nlux-ConversationStarter--BackgroundColor: var(--nlux-HumanMessage--BackgroundColor);
    --nlux-ConversationStarter--BorderColor: transparent;
    --nlux-ConversationStarter--TextColor: var(--nlux-HumanMessage--TextColor);
}
