/* Light color scheme variables */
.never-nlux-AiChat-root.nlux-theme-nova.nlux-colorScheme-light {
    --nlux-primary-bgClr: #ffffff;
    --nlux-primary-foregroundColor: #09090b;

    --nlux-secondary-bgClr: var(--nlux-primary-bgClr);
    --nlux-secondary-foregroundColor: var(--nlux-primary-foregroundColor);

    --nlux-human-bgClr: #18181b;
    --nlux-human-foregroundColor: #ffffff;

    --nlux-ai-bgClr: #f4f4f4;
    --nlux-ai-foregroundColor: #09090b;
}

/* Dark color scheme variables */
.never-nlux-AiChat-root.nlux-theme-nova.nlux-colorScheme-dark {
    --nlux-primary-bgClr: #151515;
    --nlux-primary-foregroundColor: #ffffff;

    --nlux-secondary-bgClr: var(--nlux-primary-bgClr);
    --nlux-secondary-foregroundColor: var(--nlux-primary-foregroundColor);

    --nlux-human-bgClr: #323232;
    --nlux-human-foregroundColor: #ffffff;

    --nlux-ai-bgClr: #494949;
    --nlux-ai-foregroundColor: #ffffff;
}

/* Common color variables */
.never-nlux-AiChat-root.nlux-theme-nova {
    --nlux-cdBlk--bgClr: #303530;
    --nlux-cdBlk-hover--bgClr: #404240;
    --nlux-cdBlk-text-color: #dde5e2ff;

    --nlux-inlnCd--bgClr: #d5dad1;
    --nlux-inlnCd--txtClr: #18210c;

    --nlux-exp--bgClr: #d05858;
    --nlux-exp--brdClr: #d05858;
    --nlux-exp--txtClr: #ffffff;
}
