.nlux-AiChat-root.nlux-theme-nova.nlux-colorScheme-light {
    --nlux-backgroundColor: #ffffff;
    --nlux-primaryTextColor: #09090b;

    --nlux-messageReceivedBackground-color: #f4f6f9;
    --nlux-messageReceivedText-color: var(--nlux-primaryTextColor);
}

.nlux-AiChat-root.nlux-theme-nova.nlux-colorScheme-dark {
    --nlux-backgroundColor: #151515;
    --nlux-primaryTextColor: #ffffff;

    --nlux-messageReceivedBackground-color: #494949;
    --nlux-messageReceivedText-color: var(--nlux-primaryTextColor);
}

.nlux-AiChat-root.nlux-theme-nova {
    --nlux-humanMessage-backgroundColor: var(--nlux-messageSentBackground-color);
    --nlux-humanMessage-borderColor: var(--nlux-messageSentBackground-color);
    --nlux-humanMessage-textColor: var(--nlux-messageSentText-color);

    --nlux-humanMessage-active-backgroundColor: var(--nlux-messageSentBackground-color);
    --nlux-humanMessage-active-borderColor: var(--nlux-messageSentBackground-color);
    --nlux-humanMessage-active-textColor: var(--nlux-messageSentText-color);

    --nlux-aiMessage-backgroundColor: var(--nlux-messageReceivedBackground-color);
    --nlux-aiMessage-borderColor: var(--nlux-messageReceivedBackground-color);
    --nlux-aiMessage-textColor: var(--nlux-messageReceivedText-color);

    --nlux-aiMessage-active-backgroundColor: var(--nlux-messageReceivedBackground-color);
    --nlux-aiMessage-active-borderColor: var(--nlux-messageReceivedBackground-color);
    --nlux-aiMessage-active-textColor: var(--nlux-messageReceivedText-color);

    --nlux-codeBlock-backgroundColor: #303530;
    --nlux-codeBlock-hover-backgroundColor: #404240;
    --nlux-codeBlock-text-color: #dde5e2ff;

    --nlux-inlineCode-backgroundColor: #d5dad1;
    --nlux-inlineCode-textColor: #18210c;

    --nlux-exceptionsBox-backgroundColor: #d05858;
    --nlux-exceptionsBox-borderColor: #d05858;
    --nlux-exceptionsBox-textColor: #ffffff;
}
