/** Overrides of variables that are usually calculated */

.nlux-AiChat-root.nlux-theme-nova.nlux-colorScheme-light {
    --nlux-input-backgroundColor: transparent;
    --nlux-input-borderColor: transparent;

    --nlux-button-backgroundColor: transparent;
    --nlux-button-borderColor: transparent;

    --nlux-humanMessage-borderColor: transparent;
    --nlux-aiMessage-borderColor: transparent;

    --nlux-button-textColor: var(--nlux-icon-primary-color);
    --nlux-button-active-textColor: var(--nlux-icon-primary-color);
    --nlux-button-disabled-textColor: var(--nlux-icon-secondary-color);

    --nlux-icon-primary-color: var(--nlux-primary-foregroundColor);
    --nlux-icon-secondary-color: #5f5f5f;
}

.nlux-AiChat-root.nlux-theme-nova.nlux-colorScheme-dark {
    --nlux-input-backgroundColor: transparent;
    --nlux-input-borderColor: transparent;

    --nlux-button-backgroundColor: transparent;
    --nlux-button-borderColor: transparent;

    --nlux-humanMessage-borderColor: transparent;
    --nlux-aiMessage-borderColor: transparent;

    --nlux-button-textColor: var(--nlux-icon-primary-color);
    --nlux-button-active-textColor: var(--nlux-icon-primary-color);
    --nlux-button-disabled-textColor: var(--nlux-icon-secondary-color);

    --nlux-icon-primary-color: var(--nlux-primary-foregroundColor);
    --nlux-icon-secondary-color: #71717a;
}
