# Build output
build/
built/
dist/
dist-ssr/
publish/
coverage/

# Docusaurus output
.docusaurus/

# Cache
.rollup.cache/

# Ignore MD
*.ignore.md

# Local config
*.local

# Packages
node_modules
packages/*/package.json
packages/*/**/package.json
packages/*/tsconfig.json
packages/*/**/tsconfig.json

# Pipeline Built Files
pipeline/utils/rollup/*.js
rollup.config-*.js
rollup.config-*.mjs
yarn-error.log
.DS_Store

# Yarn lock files in samples are not committed
/samples/aiChat/react/yarn.lock
/samples/aiChat/next/yarn.lock
/samples/aiChat/js/yarn.lock
/samples/components/react/yarn.lock
/samples/components/js/yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
/examples/dev-examples/**/yarn.lock
