:root {
  --nx-background-color-1: #fbf2ef;
  --nx-text-color-1: #495959;

  --nx-background-color-2: #ffffff;
  --nx-text-color-2: #495959;
}

[data-theme='dark'] {
  --nx-background-color-1: #1b1b1d;
  --nx-text-color-1: #f0f0f0;

  --nx-background-color-2: #242526;
  --nx-text-color-2: #ffffff;
}
