:root {
    --nx-background-color-1: #fbf2ef;
    --nx-text-color-1: #495959;

    --nx-background-color-2: #ffffff;
    --nx-text-color-2: #495959;
}

html[data-theme='dark'] {
    --ifm-background-surface-color: #000000;

    --nx-background-color-1: #000000;
    --nx-text-color-1: #f0f0f0;

    --nx-background-color-2: #151515;
    --nx-text-color-2: #ffffff;
}
