.heroBanner {
    background-color: var(--nx-background-color-1);
    color: var(--nx-text-color-1);

    text-align: center;
    position: relative;
    overflow: hidden;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.heroTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heroSubtitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroSubtitleContent {
    display: inline-block;
    font-size: 2.4rem;
    line-height: 1.3;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.adaptersShowcase {
}

.adaptersShowcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.adaptersShowcase > .platformName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.adaptersShowcase > .platformName > h5 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.adaptersShowcase > .platformName > img {
    border-radius: 5px;
}

