.heroBanner {
    background-color: var(--nx-background-color-1);
    color: var(--nx-text-color-1);

    text-align: center;
    position: relative;
    overflow: hidden;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.adaptersShowcase {
    padding: 1rem;
}

.heroTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroContent .heroTitleContainer > h1.heroTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    margin: 0;
}

.heroSubtitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroSubtitleContainer strong {
    font-weight: 900;
    font-size: 1.2em;
}

.heroSubtitleContent {
    display: inline-block;
    font-size: 2.4rem;
    line-height: 1.3;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.adaptersShowcase {
}

.adaptersShowcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.adaptersShowcase > .vercelPlatformName,
.adaptersShowcase > .platformName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.adaptersShowcase > .vercelPlatformName > h5,
.adaptersShowcase > .platformName > h5 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.adaptersShowcase > .vercelPlatformName > h5 {
    font-family: 'Geist', sans-serif;
    color: black;
}

html[data-theme='dark'] .adaptersShowcase > .vercelPlatformName > h5 {
    color: white;
}

.adaptersShowcase > .platformName > img {
    border-radius: 5px;
}

