.nlux-AiChat-root {
    /** Exceptions box */
    --nlux-exp--bgClr: var(--nlux-Exceptions--BackgroundColor, white);
    --nlux-exp--brdClr: var(--nlux-Exceptions--BorderColor, red);
    --nlux-exp--txtClr: var(--nlux-Exceptions--TextColor, red);

    /** Welcome message */
    --nlux-wlcMsg-avtr--brdrClr: var(--nlux-WelcomeMessage-Avatar--BorderColor, grey);

    /** Conversation loader */
    --nlux-chtr-ldr--clr: var(--nlux-ChatRoom-Loader--Color, grey);

    /** Conversation content color */
    --nlux-chtr--bgClr: var(--nlux-ChatRoom--BackgroundColor, white);
    --nlux-chtr--brdClr: var(--nlux-ChatRoom--BorderColor, grey);
    --nlux-chtr--txtClr: var(--nlux-ChatRoom--TextColor, black);

    /** Divider between prompt box and messages */
    --nlux-chtr-dvr--clr: var(--nlux-ChatRoom-Divider--Color, darkgrey);

    /** Participant info in chat */
    --nlux-prtInfo-prtNm--clr: var(--nlux-ChatItem-ParticipantName--Color, cyan);

    /* Human message in chat */
    --nlux-hmMsg--bgClr: var(--nlux-HumanMessage--BackgroundColor, lightgrey);
    --nlux-hmMsg--brdClr: var(--nlux-HumanMessage--BorderColor, grey);
    --nlux-hmMsg--txtClr: var(--nlux-HumanMessage--TextColor, black);

    /** AI message in chat */
    --nlux-aiMsg--bgClr: var(--nlux-AiMessage--BackgroundColor, white);
    --nlux-aiMsg--brdClr: var(--nlux-AiMessage--BorderColor, lightgrey);
    --nlux-aiMsg--txtClr: var(--nlux-AiMessage--TextColor, black);

    /** Prompt input colors */
    --nlux-prmInp--bgClr: var(--nlux-PromptInput--BackgroundColor, white);
    --nlux-prmInp--brdClr: var(--nlux-PromptInput--BorderColor, grey);
    --nlux-prmInp--txtClr: var(--nlux-PromptInput--TextColor, black);

    --nlux-prmInp-actv--bgClr: var(--nlux-PromptInput-Active--BackgroundColor, white);
    --nlux-prmInp-actv--brdClr: var(--nlux-PromptInput-Active--BorderColor, black);
    --nlux-prmInp-actv--txtClr: var(--nlux-PromptInput-Active--TextColor, black);

    --nlux-prmInp-dslb--bgClr: var(--nlux-PromptInput-Disabled--BackgroundColor, lightgrey);
    --nlux-prmInp-dslb--brdClr: var(--nlux-PromptInput-Disabled--BorderColor, darkgrey);
    --nlux-prmInp-dslb--txtClr: var(--nlux-PromptInput-Disabled--TextColor, grey);

    --nlux-prmInp-plcHldr--txtClr: var(--nlux-PromptInput-Placeholder--TextColor, darkgrey);
    --nlux-prmInp-fcs-otln--clr: var(--nlux-PromptInput-Focus-Outline--Color, grey);

    /** Submit button colors */
    --nlux-sbmBt--bgClr: var(--nlux-SubmitButton--BackgroundColor, white);
    --nlux-sbmBt--brdClr: var(--nlux-SubmitButton--BorderColor, grey);
    --nlux-sbmBt--txtClr: var(--nlux-SubmitButton--TextColor, black);

    --nlux-sbmBt-actv--bgClr: var(--nlux-SubmitButton-Active--BackgroundColor, darkgrey);
    --nlux-sbmBt-actv--brdClr: var(--nlux-SubmitButton-Active--BorderColor, black);
    --nlux-sbmBt-actv--txtClr: var(--nlux-SubmitButton-Active--TextColor, black);

    --nlux-sbmBt-dslb--bgClr: var(--nlux-SubmitButton-Disabled--BackgroundColor, lightgrey);
    --nlux-sbmBt-dslb--brdClr: var(--nlux-SubmitButton-Disabled--BorderColor, darkgrey);
    --nlux-sbmBt-dslb--txtClr: var(--nlux-SubmitButton-Disabled--TextColor, grey);

    --nlux-sbmBt-fcs-otln--clr: var(--nlux-SubmitButton-Focus-Outline--Color, grey);

    /** Code block */
    --nlux-cdBlk--bgClr: var(--nlux-CodeBlock--BackgroundColor, ghostwhite);
    --nlux-cdBlk--brdClr: var(--nlux-CodeBlock--BorderColor, grey);
    --nlux-cdBlk--txtClr: var(--nlux-CodeBlock--TextColor, black);
    --nlux-cdBlk-hover--bgClr: var(--nlux-CodeBlock-Hover--BackgroundColor, lightgrey);

    /** Code block copy button */
    --nlux-cdBlk-cpBtn--bgClr: var(--nlux-CodeBlock-CopyButton--BackgroundColor, white);
    --nlux-cdBlk-cpBtn--brdClr: var(--nlux-CodeBlock-CopyButton--BorderColor, grey);
    --nlux-cdBlk-cpBtn--txtClr: var(--nlux-CodeBlock-CopyButton--TextColor, black);

    /** Code block copy button in clicked state */
    --nlux-cdBlk-cpBtn-clck--bgClr: var(--nlux-CodeBlock-CopyButton-Clicked--BackgroundColor, black);
    --nlux-cdBlk-cpBtn-clck--brdClr: var(--nlux-CodeBlock-CopyButton-Clicked--BorderColor, grey);
    --nlux-cdBlk-cpBtn-clck--txtClr: var(--nlux-CodeBlock-CopyButton-Clicked--TextColor, white);

    /** Inline code in markdown */
    --nlux-inlnCd--bgClr: var(--nlux-InlineCode--BackgroundColor, ghostwhite);
    --nlux-inlnCd--brdClr: var(--nlux-InlineCode--BorderColor, grey);
    --nlux-inlnCd--txtClr: var(--nlux-InlineCode--TextColor, black);
}
