.nlux-AiChat-root {
    font-family: var(--nlux-chtr--fnFm), sans-serif;
    font-size: var(--nlux-chtr--ftSz);
    font-weight: var(--nlux-chtr--fnWg);
    font-style: normal;

    line-height: var(--nlux-chtr--lnH);
    color: var(--nlux-chtr--txtClr);

    font-variation-settings: 'slnt' 0;

    > .nlux-chatRoom-container {
        border: var(--nlux-chtr--brdrWd) solid var(--nlux-chtr--brdClr);
        border-radius: var(--nlux-chtr--brdrRd);
        background-color: var(--nlux-chtr--bgClr);

        > .nlux-composer-container {
            border-top: var(--nlux-dvr--brdrWd) solid var(--nlux-chtr-dvr--clr);
        }
    }
}

.nlux-AiChat-root.nlux-transparentBackground {
    > .nlux-chatRoom-container {
        background-color: transparent;
    }
}
