.nlux-AiChat-root {
    font-family: var(--nlux-fontFamily), sans-serif;
    font-size: var(--nlux-fontSize);
    font-weight: var(--nlux-fontWeight);
    font-style: normal;

    line-height: var(--nlux-lineHeight);
    color: var(--nlux-text-color);

    font-variation-settings: 'slnt' 0;
}
