.nluxc-root {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 100%;
    -ms-user-select: none; /* IE 10 and IE 11 */

    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */

    :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
        padding: 0;
    }

    > .nluxc-chat-room-container {
        min-height: 200px;
    }
}
