.nlux-AiChat-root {
    /** Exceptions box */
    --nlux-exp--pdng: var(--nlux-Exceptions--Padding, 10px);
    --nlux-exp--brdrWd: var(--nlux-Exceptions--BorderWidth);
    --nlux-exp--brdrRd: var(--nlux-Exceptions--BorderRadius);

    /** Welcome message */
    --nlux-wlcMsg-avtr--wd: var(--nlux-WelcomeMessage-Avatar--Width, 80px);
    --nlux-wlcMsg-prsNm--ftSz: var(--nlux-WelcomeMessage-PersonaName--FontSize);
    --nlux-wlcMsg-prsNm--ftWg: var(--nlux-WelcomeMessage-PersonaName--FontWeight, bold);
    --nlux-wlcMsg-txt--ftSz: var(--nlux-WelcomeMessage-Text--FontSize);
    --nlux-wlcMsg-txt--ftWg: var(--nlux-WelcomeMessage-Text--FontWeight);
    --nlux-wlcMsg--gap: var(--nlux-WelcomeMessage--Gap, 10px);

    /** Divider between conversation and composer */
    --nlux-dvr--mrgTp: var(--nlux-ChatRoom-Divider--MarginTop, 20px); /* Margin top */
    --nlux-dvr--mrgBtm: var(--nlux-ChatRoom-Divider--MarginBottom, 20px); /* Margin bottom */
    --nlux-dvr--brdrWd: var(--nlux-ChatRoom-Divider--BorderWidth);

    /** Chat-room container */
    --nlux-chtr--lnH: var(--nlux-ChatRoom--LineHeight);
    --nlux-chtr--fnWg: var(--nlux-ChatRoom--FontWeight);
    --nlux-chtr--fnFm: var(--nlux-ChatRoom--FontFamily);
    --nlux-chtr--ftSz: var(--nlux-ChatRoom--FontSize);

    --nlux-chtr--pdng: var(--nlux-ChatRoom--Padding);
    --nlux-chtr--brdrRd: var(--nlux-ChatRoom--BorderRadius);
    --nlux-chtr--brdrWd: var(--nlux-ChatRoom--BorderWidth);

    /** Chat-room loader */
    --nlux-chtr-ldr--wd: var(--nlux-ChatRoom-Loader--Width, 40px);

    /** Chat item */
    --nlux-chItm--algnItms: var(--nlux-ChatItem--AlignItems, flex-start);

    /** Chat item participant info: Avatar + Name */
    --nlux-comp-chatItem-participantInfo--gap: var(--nlux-ChatItem-ParticipantInfo--Gap, 10px); /* Gap between avatar and name */

    /** Chat item participant name */
    --nlux-prtInfo-prtNm--ftSz: var(--nlux-ChatItem-ParticipantName--FontSize);
    --nlux-prtInfo-prtNm--ftWg: var(--nlux-ChatItem-ParticipantName--FontWeight, bold);

    /** Chat item avatar */
    --nlux-chItm-avtr--wd: var(--nlux-ChatItem-Avatar--Width, 50px);
    --nlux-chItm-avtr--brdrRd: var(--nlux-ChatItem-Avatar--BorderRadius);
    --nlux-chItm-avtr--brdrWd: var(--nlux-ChatItem-Avatar--BorderWidth);

    /** Chat item message */
    --nlux-chItm-msg--gap: var(--nlux-ChatItem-Message--Gap, 20px); /* Gap between elements within message */
    --nlux-chItm-msg--mnHt: var(--nlux-ChatItem-Message--MinHeight, 50px);

    /** Chat item message in bubbles display layout */
    --nlux-chItm-mmsg-bblLt--brdrWd: var(--nlux-ChatItem-Message-BubbleLayout--BorderWidth);
    --nlux-chItm-mmsg-bblLt--brdrRd: var(--nlux-ChatItem-Message-BubbleLayout--BorderRadius);
    --nlux-chItm-mmsg-bblLt--pdng-tpBtm: var(--nlux-ChatItem-Message-BubbleLayout--PaddingTopBottom, 20px);
    --nlux-chItm-mmsg-bblLt--pdng-lr: var(--nlux-ChatItem-Message-BubbleLayout--PaddingLeftRight, 25px);

    /** Chat item message in list display layout */
    --nlux-chItm-msg-lstLt--brdrWd: var(--nlux-ChatItem-Message-ListLayout--BorderWidth);
    --nlux-chItm-msg-lstLt--brdrRd: var(--nlux-ChatItem-Message-ListLayout--BorderRadius);
    --nlux-chItm-msg-lstLt--pdng-tpBtm: var(--nlux-ChatItem-Message-ListLayout--PaddingTopBottom, 5px);
    --nlux-chItm-msg-lstLt--pdng-lr: var(--nlux-ChatItem-Message-ListLayout--PaddingLeftRight, 10px);
    --nlux-chItm-msg-lstLt--mrgTp: var(--nlux-ChatItem-Message-ListLayout--MarginTop, 10px);
    --nlux-chItm-msg-lstLt--mrgBtm: var(--nlux-ChatItem-Message-ListLayout--MarginBottom, 10px);
    --nlux-chItm-msg-lstLt--mrgLft: var(--nlux-ChatItem-Message-ListLayout--MarginLeft, 10px);
    --nlux-chItm-msg-lstLt--mrgRgt: var(--nlux-ChatItem-Message-ListLayout--MarginRight, 10px);

    /** Chat item message code block */
    --nlux-cdBlk--ftSz: var(--nlux-CodeBlock--FontSize, 16px);
    --nlux-cdBlk--ftFm: var(--nlux-CodeBlock--FontFamily, 'monospace');
    --nlux-cdBlk--pdng: var(--nlux-CodeBlock--Padding, 10px);
    --nlux-cdBlk--brdrWd: var(--nlux-CodeBlock--BorderWidth, 2px);
    --nlux-cdBlk--brdrRd: var(--nlux-CodeBlock--BorderRadius);

    /** Code block copy button */
    --nlux-cdBlk-cpBtn--wd: var(--nlux-CodeBlock-CopyButton--Width, 30px);
    --nlux-cdBlk-cpBtn--hg: var(--nlux-CodeBlock-CopyButton--Height, 30px);
    --nlux-cdBlk-cpBtn--pdng: var(--nlux-CodeBlock-CopyButton--Padding, 5px);
    --nlux-cdBlk-cpBtn--brdrWd: var(--nlux-CodeBlock-CopyButton--BorderWidth);
    --nlux-cdBlk-cpBtn--brdrRd: var(--nlux-CodeBlock-CopyButton--BorderRadius);

    /** Inline code in markdown */
    --nlux-inlnCd--brdrRd: var(--nlux-InlineCode--BorderRadius);
    --nlux-inlnCd--brdrWd: var(--nlux-InlineCode--BorderWidth);
    --nlux-inlnCd--pdng: var(--nlux-InlineCode--Padding);
    --nlux-inlnCd--ftFm: var(--nlux-CodeBlock--FontFamily, 'monospace');
    --nlux-inlnCd--ftSz: var(--nlux-InlineCode--FontSize);

    /** Composer */
    --nlux-prmBx--gap: var(--nlux-Composer--Gap, 10px); /* Gap between prompt input and submit button */

    /** Submit button */
    --nlux-sbmBt--wd: var(--nlux-SubmitButton--Width, 80px);
    --nlux-sbmBt--brdrWd: var(--nlux-SubmitButton--BorderWidth);
    --nlux-sbmBt--brdrRd: var(--nlux-SubmitButton--BorderRadius);
    --nlux-sbmBt-fcs-otln--wd: var(--nlux-SubmitButton-Focus-Outline--Width, 6px);

    /** Composer input */
    --nlux-prmInp--ftFm: var(--nlux-PromptInput--FontFamily);
    --nlux-prmInp--ftSz: var(--nlux-PromptInput--FontSize);
    --nlux-prmInp--brdrWd: var(--nlux-PromptInput--BorderWidth);
    --nlux-prmInp--brdrRd: var(--nlux-PromptInput--BorderRadius);
    --nlux-prmInp-fcs-otln--wd: var(--nlux-PromptInput-Focus-Outline--Width, 6px);

    /** Conversation starters */
    --nlux-cvStrt--pdng: var(--nlux-ConversationStarter--Padding, 0 10px);
    --nlux-cvStrt--brdrRd: var(--nlux-ConversationStarter--BorderRadius);
    --nlux-cvStrt--brdrWd: var(--nlux-ConversationStarter--BorderWidth);
    --nlux-cvStrt--gap: var(--nlux-ConversationStarter--Gap, 10px);
    --nlux-cvStrt--wd: var(--nlux-ConversationStarter--Width, 160px);
    --nlux-cvStrt--hg: var(--nlux-ConversationStarter--Height, 101px);
}
