.nlux-AiChat-root {
    --nlux-fontSize-s-mult: 0.8;
    --nlux-fontSize-l-mult: 1.2;

    --nlux-padding-xs-mult: 0.5;
    --nlux-padding-s-mult: 0.8;
    --nlux-padding-m-mult: 1.3;
    --nlux-padding-l-mult: 1.5;

    --nlux-borderRadius-xs-mult: 0.5;
    --nlux-borderRadius-s-mult: 0.8;
    --nlux-borderRadius-m-mult: 1.2;
    --nlux-borderRadius-l-mult: 1.5;

    /** Multipliers for colors — used with color-mix() to add white to base colors */
    --nlux-white-xs-mult: 10%;
    --nlux-white-s-mult: 20%;
    --nlux-white-m-mult: 40%;
    --nlux-white-l-mult: 70%;

    /** Multipliers for colors  used with color-mix() to add black to base colors */
    --nlux-black-xs-mult: 20%;
    --nlux-black-s-mult: 35%;
    --nlux-black-m-mult: 60%;
    --nlux-black-l-mult: 85%;
}
