.nlux-AiChat-root {
    /** Exceptions box */
    --nlux-exp--pdng: var(--nlux-Exceptions--Padding, 10px);
    --nlux-exp--brdrWd: var(--nlux-Exceptions--BorderWidth, 6px);
    --nlux-exp--brdrRd: var(--nlux-Exceptions--BorderRadius, 20px);

    /** Welcome message */
    --nlux-wlcMsg-avtr--wd: var(--nlux-WelcomeMessage-Avatar--Width, 80px);
    --nlux-wlcMsg-prsNm--ftSz: var(--nlux-WelcomeMessage-PersonaName--FontSize, 1.6rem);
    --nlux-wlcMsg-prsNm--ftWg: var(--nlux-WelcomeMessage-PersonaName--FontWeight, 400);
    --nlux-wlcMsg--gap: var(--nlux-WelcomeMessage--Gap, 10px);

    /** Divider between conversation and prompt box */
    --nlux-dvr--mrgTp: var(--nlux-ChatRoom-Divider--MarginTop, 20px); /* Margin top */
    --nlux-dvr--mrgBtm: var(--nlux-ChatRoom-Divider--MarginBottom, 20px); /* Margin bottom */
    --nlux-dvr--brdrWd: var(--nlux-ChatRoom-Divider--BorderWidth, 6px); /* Border width for divider */

    /** Chat-room container */
    --nlux-chtr--lnH: var(--nlux-ChatRoom--LineHeight, 1.8); /* Default l height */
    --nlux-chtr--fnWg: var(--nlux-ChatRoom--FontWeight, 400); /* Default font weight */
    --nlux-chtr--fnFm: var(--nlux-ChatRoom--FontFamily, 'Arial'); /* Default font family */
    --nlux-chtr--ftSz: var(--nlux-ChatRoom--FontSize, 22px); /** Default font size */

    --nlux-chtr--pdng: var(--nlux-ChatRoom--Padding, 10px);
    --nlux-chtr--brdrRd: var(--nlux-ChatRoom--BorderRadius, 20px);
    --nlux-chtr--brdrWd: var(--nlux-ChatRoom--BorderWidth, 6px);

    /** Chat-room loader */
    --nlux-chtr-ldr--wd: var(--nlux-ChatRoom-Loader--Width, 40px);

    /** Chat item */
    --nlux-chItm--algnItms: var(--nlux-ChatItem--AlignItems, flex-start);

    /** Chat item avatar */
    --nlux-chItm-avtr--wd: var(--nlux-ChatItem-Avatar--Width, 50px);
    --nlux-chItm-avtr--brdrRd: var(--nlux-ChatItem-Avatar--BorderRadius, 30%);

    /** Chat item message */
    --nlux-chItm-msg--brdrWd: var(--nlux-ChatItem-Message--BorderWidth, 6px);
    --nlux-chItm-msg--pdng-tpBtm: var(--nlux-ChatItem-Message--PaddingTopBottom, 20px);
    --nlux-chItm-msg--pdng-lr: var(--nlux-ChatItem-Message--PaddingLeftRight, 25px);
    --nlux-chItm-msg--brdrRd: var(--nlux-ChatItem-Message--BorderRadius, 20px);
    --nlux-chItm-msg--gap: var(--nlux-ChatItem-Message--Gap, 20px); /* Gap between elements within message */

    /** Chat item message code block */
    --nlux-cdBlk--ftSz: var(--nlux-CodeBlock--FontSize, 16px);
    --nlux-cdBlk--ftFm: var(--nlux-CodeBlock--FontFamily, 'monospace');
    --nlux-cdBlk--pdng: var(--nlux-CodeBlock--Padding, 20px);
    --nlux-cdBlk--brdrWd: var(--nlux-CodeBlock--BorderWidth, 6px);
    --nlux-cdBlk--brdrRd: var(--nlux-CodeBlock--BorderRadius, 20px);

    /** Code block copy button */
    --nlux-cdBlk-cpBtn--wd: var(--nlux-CodeBlock-CopyButton--Width, 30px);
    --nlux-cdBlk-cpBtn--hg: var(--nlux-CodeBlock-CopyButton--Height, 30px);
    --nlux-cdBlk-cpBtn--pdng: var(--nlux-CodeBlock-CopyButton--Padding, 5px);
    --nlux-cdBlk-cpBtn--brdrWd: var(--nlux-CodeBlock-CopyButton--BorderWidth, 6px);
    --nlux-cdBlk-cpBtn--brdrRd: var(--nlux-CodeBlock-CopyButton--BorderRadius, 20px);

    /** Inline code in markdown */
    --nlux-inlnCd--brdrRd: var(--nlux-InlineCode--BorderRadius, 5px);
    --nlux-inlnCd--brdrWd: var(--nlux-InlineCode--BorderWidth, 1px);
    --nlux-inlnCd--pdng: var(--nlux-InlineCode--Padding, 2px 4px);
    --nlux-inlnCd--ftFm: var(--nlux-CodeBlock--FontFamily, 'monospace');
    --nlux-inlnCd--ftSz: var(--nlux-InlineCode--FontSize, 14px);

    /** Prompt box */
    --nlux-prmBx--gap: var(--nlux-PromptBox--Gap, 15px); /* Gap between prompt input and submit button */

    /** Submit button */
    --nlux-sbmBt--wd: var(--nlux-SubmitButton--Width, 80px);
    --nlux-sbmBt--brdrWd: var(--nlux-SubmitButton--BorderWidth, 6px);
    --nlux-sbmBt--brdrRd: var(--nlux-SubmitButton--BorderRadius, 20px);
    --nlux-sbmBt-fcs-otln--wd: var(--nlux-SubmitButton-Focus-Outline--Width, 6px);

    /** Prompt box input */
    --nlux-prmInp--ftFm: var(--nlux-PromptInput--FontFamily, 'Arial');
    --nlux-prmInp--ftSz: var(--nlux-PromptInput--FontSize, 20px);
    --nlux-prmInp--brdrWd: var(--nlux-PromptInput--BorderWidth, 6px);
    --nlux-prmInp--brdrRd: var(--nlux-PromptInput--BorderRadius, 20px);
    --nlux-prmInp-fcs-otln--wd: var(--nlux-PromptInput-Focus-Outline--Width, 6px);
}
