.nlux-AiChat-root {
    /** Welcome message */
    --nlux-wlcMsg-avtr--wd: var(--nlux-WelcomeMessage-avatar--Width, 80px);
    --nlux-wlcMsg-prsNm--ftSz: var(--nlux-WelcomeMessage-personaName--FontSize, 1.6rem);
    --nlux-wlcMsg--gap: var(--nlux-WelcomeMessage--Gap, 10px);

    /** Exceptions box */
    --nlux-exp--pdng: var(--nlux-Exceptions--Padding, 10px);
    --nlux-exp--brdrWd: var(--nlux-Exceptions--BorderWidth, 6px);
    --nlux-exp--brdrRd: var(--nlux-Exceptions--BorderRadius, 20px);

    /** Chat-room container */
    --nlux-chtr--lnH: var(--nlux-ChatRoom--LineHeight, 1.8); /* Default l height */
    --nlux-chtr--fnWg: var(--nlux-ChatRoom--FontWeight, 400); /* Default font weight */
    --nlux-chtr--fnFm: var(--nlux-ChatRoom--FontFamily); /* Font family */
    --nlux-chtr--ftSz: var(--nlux-ChatRoom--FontSize); /** Default font size */

    --nlux-chtr--pdng: var(--nlux-ChatRoom--Padding, 10px);
    --nlux-chtr--brdrRd: var(--nlux-ChatRoom--BorderRadius, 20px);
    --nlux-chtr--brdrWd: var(--nlux-ChatRoom--BorderWidth, 6px);

    /** Chat-room loader */
    --nlux-chtr-ldr--wd: var(--nlux-ChatRoom-Loader--Width, 40px);

    /** Chat item */
    --nlux-chItm--algnItms: var(--nlux-ChatItem--AlignItems, flex-start);

    /** Chat item avatar */
    --nlux-chItm-avtr--wd: var(--nlux-ChatItem-avatar--Width, 50px);
    --nlux-chItm-avtr--brdrRd: var(--nlux-ChatItem-avatar--BorderRadius, 30%);

    /** Chat item message */
    --nlux-chItm-msg--brdrWd: var(--nlux-ChatItem-Message--BorderWidth, 6px);
    --nlux-chItm-msg--pdng-tpBtm: var(--nlux-ChatItem-Message--PaddingTopBottom, 20px);
    --nlux-chItm-msg--pdng-lr: var(--nlux-ChatItem-Message--PaddingLeftRight, 25px);
    --nlux-chItm-msg--brdrRd: var(--nlux-ChatItem-Message--BorderRadius, 20px);
    --nlux-chItm-msg--gap: var(--nlux-ChatItem-Message--Gap, 20px); /* Gap between elements within message */

    /** Chat item message code block */
    --nlux-cdBlk--ftSz: var(--nlux-fontSize-s); /* Font size */
    --nlux-cdBlk--ftFm: var(--nlux-monoFontFamily); /* Font family */
    --nlux-cdBlk--pdng: var(--nlux-padding) 0; /* Padding */
    --nlux-cdBlk--brdrWd: var(--nlux-borderWidth); /* Border width */
    --nlux-cdBlk--brdrRd: var(--nlux-borderRadius-s); /* Border radius */

    /** Code block copy button */
    --nlux-cdBlk-cpBtn--wd: 32px; /* Width */
    --nlux-cdBlk-cpBtn--hg: 30px; /* Height */
    --nlux-cdBlk-cpBtn--pdng: 2px; /* Padding */
    --nlux-cdBlk-cpBtn--brdrWd: var(--nlux-borderWidth); /* Border width */
    --nlux-cdBlk-cpBtn--brdrRd: var(--nlux-borderRadius-s); /* Border radius */

    /** Inline code in markdown */
    --nlux-inlnCd--brdrRd: var(--nlux-borderRadius-xs); /* Border radius */
    --nlux-inlnCd--brdrWd: var(--nlux-borderWidth); /* Border width */
    --nlux-inlnCd--pdng: var(--nlux-padding-xs) var(--nlux-padding-s); /* Padding */
    --nlux-inlnCd--ftSz: var(--nlux-fontSize-s); /* Font size */
    --nlux-inlnCd--ftFm: var(--nlux-monoFontFamily); /* Font family */

    /** Divider between conversation and prompt box */
    --nlux-dvr--mrgTp: var(--nlux-padding); /* Margin top */
    --nlux-dvr--mrgBtm: var(--nlux-padding); /* Margin bottom */

    /** Prompt box */
    --nlux-prmBx--gap: var(--nlux-flexGap); /* Flex gap */

    /** Submit button */
    --nlux-sbmBt--wd: 65px; /* Width */
    --nlux-sbmBt--brdrWd: var(--nlux-borderWidth); /* Border width */
    --nlux-sbmBt--brdrRd: var(--nlux-borderRadius-m); /* Border radius */
    --nlux-sbmBt-fcs-otln--wd: var(--nlux-borderWidth); /* Focus outline width */

    /** Prompt box input */
    --nlux-prmInp--ftFm: var(--nlux-fontFamily); /* Font family */
    --nlux-prmInp--ftSz: var(--nlux-fontSize); /* Font size */
    --nlux-prmInp--brdrWd: var(--nlux-borderWidth); /* Border width */
    --nlux-prmInp--brdrRd: var(--nlux-borderRadius-s); /* Border radius */
    --nlux-prmInp-fcs-otln--wd: var(--nlux-borderWidth); /* Focus outline width */
}
