.nlux-AiChat-root {
    /** Welcome message */
    --nlux-welcomeMessage-avatar-width: 80px;
    --nlux-welcomeMessage-personaName-fontSize: var(--nlux-fontSize-l);
    --nlux-welcomeMessage-gap: var(--nlux-flexGap);

    /** Exceptions box */
    --nlux-exceptionsBox-padding: var(--nlux-padding);
    --nlux-exceptionsBox-borderWidth: var(--nlux-borderWidth);
    --nlux-exceptionsBox-borderRadius: var(--nlux-borderRadius);

    /** Conversation container */
    --nlux-chatRoom-lineHeight: var(--nlux-lineHeight); /* Default line height */
    --nlux-chatRoom-fontWeight: var(--nlux-fontWeight); /* Default font weight */
    --nlux-chatRoom-fontFamily: var(--nlux-fontFamily); /* Default font family */
    --nlux-chatRoom-fontSize: var(--nlux-fontSize); /* Default font size */

    --nlux-chatRoom-padding: var(--nlux-padding);
    --nlux-chatRoom-borderRadius: var(--nlux-borderRadius);
    --nlux-chatRoom-borderWidth: var(--nlux-borderWidth);

    /** Conversation loader */
    --nlux-chatRoom-loader-width: var(--nlux-chatItem-avatar-width);

    /** Chat item */
    --nlux-chatItem-alignItems: flex-end;

    /** Chat item avatar */
    --nlux-chatItem-avatar-width: 40px;
    --nlux-chatItem-avatar-borderRadius: 30%;

    /** Chat item message */
    --nlux-chatItem-message-borderWidth: var(--nlux-borderWidth);
    --nlux-chatItem-message-paddingTopBottom: var(--nlux-padding);
    --nlux-chatItem-message-paddingLeftRight: var(--nlux-padding-m);
    --nlux-chatItem-message-borderRadius: var(--nlux-borderRadius);
    --nlux-chatItem-message-flexGap: var(--nlux-flexGap);

    /** Chat item message code block */
    --nlux-codeBlock-fontSize: var(--nlux-fontSize-s);
    --nlux-codeBlock-fontFamily: var(--nlux-monoFontFamily);
    --nlux-codeBlock-padding: var(--nlux-padding) 0;
    --nlux-codeBlock-borderWidth: var(--nlux-borderWidth);
    --nlux-codeBlock-borderRadius: var(--nlux-borderRadius-s);

    /** Code block copy button */
    --nlux-codeBlock-copyButton-width: 32px;
    --nlux-codeBlock-copyButton-height: 30px;
    --nlux-codeBlock-copyButton-padding: 2px;
    --nlux-codeBlock-copyButton-borderWidth: var(--nlux-borderWidth);
    --nlux-codeBlock-copyButton-borderRadius: var(--nlux-borderRadius-s);

    /** Inline code in markdown */
    --nlux-inlineCode-borderRadius: var(--nlux-borderRadius-xs);
    --nlux-inlineCode-padding: var(--nlux-padding-xs) var(--nlux-padding-s);
    --nlux-inlineCode-fontSize: var(--nlux-fontSize-s);
    --nlux-inlineCode-fontFamily: var(--nlux-monoFontFamily);

    /** Divider */
    --nlux-divider-marginTop: var(--nlux-padding);
    --nlux-divider-margiBottom: var(--nlux-padding);

    /** Prompt box */
    --nlux-promptBox-flexGap: var(--nlux-flexGap);

    /** Submit button */
    --nlux-submitButton-width: 65px;
    --nlux-submitButton-borderWidth: var(--nlux-borderWidth);
    --nlux-submitButton-borderRadius: var(--nlux-borderRadius-m);
    --nlux-submitButton-focus-outlineWidth: var(--nlux-borderWidth);

    /** Prompt box input */
    --nlux-promptInput-fontFamily: var(--nlux-fontFamily);
    --nlux-promptInput-fontSize: var(--nlux-fontSize);
    --nlux-promptInput-borderWidth: var(--nlux-borderWidth);
    --nlux-promptInput-borderRadius: var(--nlux-borderRadius-s);
    --nlux-promptInput-focus-outlineWidth: var(--nlux-borderWidth);
}
