.nlux-AiChat-root {
    /** Exceptions box */
    --nlux-exp--bgClr: tomato; /* Background color */
    --nlux-exp--brdClr: darkred; /* Border color */
    --nlux-exp--txtClr: white; /* Text color */

    /** Conversation loader */
    --nlux-chtr-ldr--bgClr: red; /* Background color */

    /** Conversation content color */
    --nlux-chtr--bgClr: lavender; /* Background color */
    --nlux-chtr--brdClr: darkgoldenrod; /* Border color */
    --nlux-chtr--txtClr: black; /* Default text color */
    --nlux-chtr-dvr--clr: red; /* Divider color */
    --nlux-chtr-ldr--clr: darkgoldenrod; /* Loader color */

    /* Human message in chat */
    --nlux-hmMsg--bgClr: lightyellow; /* Background color */
    --nlux-hmMsg--brdClr: black; /* Border color */
    --nlux-hmMsg--txtClr: black; /* Text color */

    /** AI message in chat */
    --nlux-aiMsg--bgClr: lightcyan; /* Background color */
    --nlux-aiMsg--brdClr: midnightblue; /* Border color */
    --nlux-aiMsg--txtClr: midnightblue; /* Text color */

    /** Input colors */
    --nlux-prmInp--bgClr: honeydew; /* Background color */
    --nlux-prmInp-actv--bgClr: white; /* Active background color */
    --nlux-prmInp-dslb--bgClr: lightgrey; /* Disabled background color */

    --nlux-prmInp--brdClr: mediumseagreen; /* Border color */
    --nlux-prmInp-actv--brdClr: limegreen; /* Active border color */
    --nlux-prmInp-dslb--brdClr: darkgrey; /* Disabled border color */

    --nlux-prmInp--txtClr: black; /* Text color */
    --nlux-prmInp-actv--txtClr: black; /* Active text color */
    --nlux-prmInp-dslb--txtClr: gray; /* Disabled text color */

    --nlux-prmInp-plcHldr--txtClr: darkseagreen; /* Placeholder text color */
    --nlux-prmInp-fcs-otln--clr: fuchsia; /* Focus outline color */

    /** Submit button colors */
    --nlux-sbmBt--txtClr: mediumseagreen; /* Text color */
    --nlux-sbmBt-actv--txtClr: limegreen; /* Active text color */
    --nlux-sbmBt-dslb--txtClr: gray; /* Disabled text color */

    --nlux-sbmBt--bgClr: honeydew; /* Background color */
    --nlux-sbmBt-actv--bgClr: white; /* Active background color */
    --nlux-sbmBt-dslb--bgClr: lightgrey; /* Disabled background color */

    --nlux-sbmBt--brdClr: mediumseagreen; /* Border color */
    --nlux-sbmBt-actv--brdClr: limegreen; /* Active border color */
    --nlux-sbmBt-dslb--brdClr: darkgrey; /* Disabled border color */

    --nlux-sbmBt-fcs-otln--clr: fuchsia; /* Focus outline color */

    /** Code block */
    --nlux-cdBlk--bgClr: gold; /* Background color */
    --nlux-cdBlk--brdClr: deeppink; /* Border color */
    --nlux-cdBlk--txtClr: black; /* Text color */
    --nlux-cdBlk-hover--bgClr: lightgoldenrodyellow; /* Hover background color */

    /** Code block copy button */
    --nlux-cdBlk-cpBtn--bgClr: darkgoldenrod; /* Background color */
    --nlux-cdBlk-cpBtn--brdClr: darkred; /* Border color */
    --nlux-cdBlk-cpBtn--txtClr: white; /* Text color */

    /** Code block copy button in clicked state */
    --nlux-cdBlk-cpBtn-clck--bgClr: greenyellow; /* Background color */
    --nlux-cdBlk-cpBtn-clck--brdClr: limegreen; /* Border color */
    --nlux-cdBlk-cpBtn-clck--txtClr: yellow; /* Text color */

    /** Inline code in markdown */
    --nlux-inlnCd--bgClr: chartreuse; /* Background color */
    --nlux-inlnCd--txtClr: white; /* Text color */
}
