.nlux-AiChat-root {
    /** Exceptions box */
    --nlux-exp--bgClr: var(--nlux-Exceptions--BackgroundColor, white);
    --nlux-exp--brdClr: var(--nlux-Exceptions--BorderColor, red);
    --nlux-exp--txtClr: var(--nlux-Exceptions--TextColor, red);

    /** Welcome message */
    --nlux-wlcMsg-avtr--brdrClr: var(--nlux-welcomeMessage-avatar--borderColor, grey);

    /** Conversation loader */
    --nlux-chtr-ldr--bgClr: var(--nlux-ChatRoom-Loader--BackgroundColor, grey);

    /** Conversation content color */
    --nlux-chtr--bgClr: var(--nlux-ChatRoom--BackgroundColor, white);
    --nlux-chtr--brdClr: var(--nlux-ChatRoom--BorderColor, grey);
    --nlux-chtr--txtClr: var(--nlux-ChatRoom--TextColor, black);
    --nlux-chtr-dvr--clr: var(--nlux-ChatRoom-Divider--Color, darkgrey);
    --nlux-chtr-ldr--clr: var(--nlux-ChatRoom-Loader--Color, grey); /* Loader color */

    /* Human message in chat */
    --nlux-hmMsg--bgClr: var(--nlux-humanMessage--BackgroundColor, lightgrey);
    --nlux-hmMsg--brdClr: var(--nlux-humanMessage--BorderColor, grey);
    --nlux-hmMsg--txtClr: var(--nlux-humanMessage--TextColor, black);

    /** AI message in chat */
    --nlux-aiMsg--bgClr: var(--nlux-aiMessage--BackgroundColor, white);
    --nlux-aiMsg--brdClr: var(--nlux-aiMessage--BorderColor, lightgrey);
    --nlux-aiMsg--txtClr: var(--nlux-aiMessage--TextColor, black);

    /** Prompt input colors */
    --nlux-prmInp--bgClr: var(--nlux-promptInput--BackgroundColor, white);
    --nlux-prmInp--brdClr: var(--nlux-promptInput--BorderColor, grey);
    --nlux-prmInp--txtClr: var(--nlux-promptInput--TextColor, black);

    --nlux-prmInp-actv--bgClr: var(--nlux-promptInput-Active--BackgroundColor, white);
    --nlux-prmInp-actv--brdClr: var(--nlux-promptInput-Active--BorderColor, black);
    --nlux-prmInp-actv--txtClr: var(--nlux-promptInput-Active--TextColor, black);

    --nlux-prmInp-dslb--bgClr: var(--nlux-promptInput-Disabled--BackgroundColor, lightgrey);
    --nlux-prmInp-dslb--brdClr: var(--nlux-promptInput-Disabled--BorderColor, darkgrey);
    --nlux-prmInp-dslb--txtClr: var(--nlux-promptInput-Disabled--TextColor, grey);

    --nlux-prmInp-plcHldr--txtClr: var(--nlux-promptInput-placeholder--TextColor, darkgrey);
    --nlux-prmInp-fcs-otln--clr: var(--nlux-promptInput-focus-outline--Color, grey);

    /** Submit button colors */
    --nlux-sbmBt--bgClr: var(--nlux-submitButton--BackgroundColor, white);
    --nlux-sbmBt--brdClr: var(--nlux-submitButton--BorderColor, grey);
    --nlux-sbmBt--txtClr: var(--nlux-submitButton--TextColor, black);

    --nlux-sbmBt-actv--bgClr: var(--nlux-submitButton-Active--BackgroundColor, darkgrey);
    --nlux-sbmBt-actv--brdClr: var(--nlux-submitButton-Active--BorderColor, black);
    --nlux-sbmBt-actv--txtClr: var(--nlux-submitButton-Active--TextColor, black);

    --nlux-sbmBt-dslb--bgClr: var(--nlux-submitButton-Disabled--BackgroundColor, lightgrey);
    --nlux-sbmBt-dslb--brdClr: var(--nlux-submitButton-Disabled--BorderColor, darkgrey);
    --nlux-sbmBt-dslb--txtClr: var(--nlux-submitButton-Disabled--TextColor, grey);

    --nlux-sbmBt-fcs-otln--clr: var(--nlux-submitButton-focus-outline--Color, grey);

    /** Code block */
    --nlux-cdBlk--bgClr: var(--nlux-codeBlock--BackgroundColor, ghostwhite);
    --nlux-cdBlk--brdClr: var(--nlux-codeBlock--BorderColor, grey);
    --nlux-cdBlk--txtClr: var(--nlux-codeBlock--TextColor, black);
    --nlux-cdBlk-hover--bgClr: var(--nlux-codeBlock-hover--BackgroundColor, lightgrey);

    /** Code block copy button */
    --nlux-cdBlk-cpBtn--bgClr: var(--nlux-codeBlock-copyButton--BackgroundColor, white);
    --nlux-cdBlk-cpBtn--brdClr: var(--nlux-codeBlock-copyButton--BorderColor, grey);
    --nlux-cdBlk-cpBtn--txtClr: var(--nlux-codeBlock-copyButton--TextColor, black);

    /** Code block copy button in clicked state */
    --nlux-cdBlk-cpBtn-clck--bgClr: var(--nlux-codeBlock-copyButton-clicked--BackgroundColor, black);
    --nlux-cdBlk-cpBtn-clck--brdClr: var(--nlux-codeBlock-copyButton-clicked--BorderColor, grey);
    --nlux-cdBlk-cpBtn-clck--txtClr: var(--nlux-codeBlock-copyButton-clicked--TextColor, white);

    /** Inline code in markdown */
    --nlux-inlnCd--bgClr: var(--nlux-inlineCode--BackgroundColor, ghostwhite);
    --nlux-inlnCd--brdClr: var(--nlux-inlineCode--BorderColor, grey);
    --nlux-inlnCd--txtClr: var(--nlux-inlineCode--TextColor, black);
}
