.nlux-AiChat-root {
    .bt-primary-filled {
        font-family: var(--nlux-fontFamily);
        font-size: var(--nlux-fontSize);
        font-weight: var(--nlux-fontWeight);
        line-height: var(--nlux-lineHeight);

        padding: var(--nlux-padding) var(--nlux-padding-l);

        cursor: pointer;
        color: var(--nlux-button-text-color);

        border-width: var(--nlux-borderWidth);
        border-style: solid;

        border-color: var(--nlux-button-border-color);
        border-radius: var(--nlux-borderRadius-m);
        background-color: var(--nlux-button-background-color);

        > .loader,
        > .loader:after {
            color: var(--nlux-button-text-color);
        }

        &:active,
        &:hover {
            color: var(--nlux-button-active-text-color);
            border-color: var(--nlux-button-active-border-color);
            background-color: var(--nlux-button-active-background-color);
        }

        &:focus-visible,
        &:focus-within,
        &:focus {
            color: var(--nlux-button-active-text-color);
            border-color: var(--nlux-button-active-border-color);
            outline: none;
            background-color: var(--nlux-button-active-background-color);
            box-shadow: var(--nlux-boxShadow);
        }

        &:disabled {
            color: var(--nlux-button-disabled-text-color);
            border-color: var(--nlux-button-disabled-border-color);
            background-color: var(--nlux-button-disabled-background-color);
        }
    }
}
