.bt-primary-filled {
    font-family: var(--nluxc-font-family);
    font-size: var(--nluxc-font-size);
    font-weight: var(--nluxc-font-weight);
    line-height: var(--nluxc-line-height);

    padding: var(--nluxc-padding) var(--nluxc-padding-l);

    cursor: pointer;
    color: var(--nluxc-action-primary-inverted);

    border-width: var(--nluxc-border-width);
    border-style: solid;

    border-color: var(--nluxc-bt-primary-filled);
    border-radius: var(--nluxc-border-radius-l);
    background-color: var(--nluxc-bt-primary-filled);

    &:active,
    &:hover {
        color: var(--nluxc-action-primary-inverted);
        border-color: var(--nluxc-action-primary-hover);
        background-color: var(--nluxc-action-primary-hover);
    }

    &:disabled {
        color: var(--nluxc-action-primary-inverted);
        border-color: var(--nluxc-action-primary-disabled);
        background-color: var(--nluxc-action-primary-disabled);
    }

    &:focus {
        border-color: var(--nluxc-action-primary-active);
        outline: var(--nluxc-action-primary-active);
    }
}

.bt-secondary-filled {
    font-family: var(--nluxc-font-family);
    font-size: var(--nluxc-font-size);
    font-weight: var(--nluxc-font-weight);
    line-height: var(--nluxc-line-height);

    padding: var(--nluxc-padding) var(--nluxc-padding-l);

    cursor: pointer;
    color: var(--nluxc-action-secondary-inverted);

    border-width: var(--nluxc-border-width);
    border-style: solid;

    border-color: var(--nluxc-bt-secondary-filled);
    border-radius: var(--nluxc-border-radius);
    background-color: var(--nluxc-bt-secondary-filled);

    &:active,
    &:hover {
        color: var(--nluxc-action-secondary-inverted);
        border-color: var(--nluxc-action-secondary-hover);
        background-color: var(--nluxc-action-secondary-hover);
    }

    &:disabled {
        color: var(--nluxc-action-secondary-inverted);
        border-color: var(--nluxc-action-secondary-disabled);
        background-color: var(--nluxc-action-secondary-disabled);
    }

    &:focus {
        border-color: var(--nluxc-action-secondary-active);
        outline: var(--nluxc-action-secondary-active);
    }
}
