.nlux-AiChat-root {
    :is(input, select, textarea) {
        font-family: var(--nlux-fontFamily), sans-serif;
        font-size: var(--nlux-fontSize);
        font-weight: 400;
        line-height: 1.5;
        padding: 0.375rem 0.75rem;
        cursor: pointer;
        transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

        color: var(--nlux-input-text-color);

        border-width: var(--nlux-borderWidth);
        border-style: solid;
        border-color: var(--nlux-input-border-color);

        border-radius: var(--nlux-borderRadius-m);
        outline: none;
        background-color: var(--nlux-input-background-color);

        &:disabled,
        &:disabled:hover {
            cursor: auto;
            color: var(--nlux-input-disabled-text-color);
            border-color: var(--nlux-input-disabled-border-color);
            background-color: var(--nlux-input-disabled-background-color);
        }

        &:focus,
        &:active,
        &:hover {
            color: var(--nlux-input-active-text-color);
            border-color: var(--nlux-input-active-border-color);
            background-color: var(--nlux-input-active-background-color);
            box-shadow: var(--nlux-boxShadow);
        }

        &::placeholder {
            color: var(--nlux-input-placeholder-color);

            &:focus,
            &:active,
            &:hover {
                color: var(--nlux-input-active-placeholder-color);
            }

            &:disabled {
                color: var(--nlux-input-disabled-placeholder-color);
            }
        }
    }
}
