.nluxc-root {
    :is(input, select, textarea) {
        font-family: var(--nluxc-font-family);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 0.375rem 0.75rem;
        cursor: pointer;
        transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

        color: var(--nluxc-input-text-color);

        border-width: var(--nluxc-border-width);
        border-style: solid;
        border-color: var(--nluxc-input-border-color);

        border-radius: var(--nluxc-border-radius-m);
        outline: none;
        background-color: var(--nluxc-input-background-color);
    }

    :is(input, select, textarea):disabled,
    :is(input, select, textarea):disabled:hover {
        cursor: auto;
        color: var(--nluxc-input-disabled-text-color);
        border-color: var(--nluxc-input-disabled-border-color);
        background-color: var(--nluxc-input-disabled-background-color);
    }

    :is(input, select, textarea)::placeholder {
        color: var(--nluxc-input-placeholder-color);
    }

    :is(input, select, textarea):focus,
    :is(input, select, textarea):active,
    :is(input, select, textarea):hover {
        color: var(--nluxc-input-active-text-color);
        border-color: var(--nluxc-input-active-border-color);
        background-color: var(--nluxc-input-active-background-color);
        box-shadow: var(--nluxc-box-shadow);
    }

    :is(input, select, textarea)::placeholder:focus,
    :is(input, select, textarea)::placeholder:active,
    :is(input, select, textarea)::placeholder:hover {
        color: var(--nluxc-input-active-placeholder-color);
    }

    :is(input, select, textarea)::placeholder:disabled {
        color: var(--nluxc-input-disabled-placeholder-color);
    }
}
