.nlux-AiChat-root {
    :is(input, select, textarea) {
        font-family: var(--nlux-fontFamily), sans-serif;
        font-size: var(--nlux-fontSize);
        font-weight: 400;
        line-height: 1.5;
        padding: 0.375rem 0.75rem;
        cursor: pointer;
        transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

        color: var(--nlux-input-textColor);

        border-width: var(--nlux-borderWidth);
        border-style: solid;
        border-color: var(--nlux-input-borderColor);

        border-radius: var(--nlux-borderRadius-m);
        outline: none;
        background-color: var(--nlux-input-backgroundColor);

        &:disabled,
        &:disabled:hover {
            cursor: auto;
            color: var(--nlux-input-disabled-textColor);
            border-color: var(--nlux-input-disabled-borderColor);
            background-color: var(--nlux-input-disabled-backgroundColor);
        }

        &:focus,
        &:hover {
            color: var(--nlux-input-active-textColor);
            border-color: var(--nlux-input-active-borderColor);
            background-color: var(--nlux-input-active-backgroundColor);
            box-shadow: var(--nlux-boxShadow);
        }

        &::placeholder {
            color: var(--nlux-input-placeholderTextColor);

            &:focus,
            &:hover {
                color: var(--nlux-input-active-placeholderTextColor);
            }

            &:disabled,
            &:disabled:hover {
                color: var(--nlux-input-disabled-placeholderTextColor);
            }
        }
    }
}
