.nluxc-root.nluxc-theme-kensington {
    --nluxc-bt-primary-filled: var(--nluxc-primary-color);
    --nluxc-bt-primary-filled-disabled: var(--nluxc-action-primary-disabled);

    --nluxc-bt-secondary-filled: var(--nluxc-secondary-color);
    --nluxc-bt-secondary-filled-disabled: var(--nluxc-action-secondary-disabled);

    --nluxc-bt-neutral-filled: var(--nluxc-action-neutral-default);
    --nluxc-bt-neutral-filled-disabled: var(--nluxc-action-neutral-disabled);
}
