@import './animation.css';
@import './colors.css';
@import './Avatar.css';
@import './ConversationItem.css';
@import './Loader.css';
@import './Message.css';
@import './PromptBox.css';
@import './WelcomeMessage.css';
