.nlux_comp_avtr {
    position: relative;
    display: inline-block;
    overflow: hidden;
    align-items: stretch;
    justify-content: stretch;
    width: 50px;
    color: var(--foreground-color);
    border: 1px solid var(--border-color);
    border-radius: 20%;
    background-color: var(--background-color);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
    aspect-ratio: 1;

    > .cht_pic_ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1;

        > .cht_pic_ltr {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        > .cht_pic_img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
}
