@import './colors.css';

.nlux_comp_msg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 1.5em;
    margin: 0;
    padding: 0.5em;
    text-align: left;
    color: var(--foreground-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25em;
    background-color: var(--background-color);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}

.nlux_comp_msg.nlux_msg_loading {
    display: flex;
    flex: 0;
    justify-content: center;
}
