:root {
    color: #000000;
    background-color: #ffffff;
}

body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    place-items: center;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
