.nlux-comp-avtr {
    position: relative;
    overflow: hidden;
    width: var(--nlux-chatItem-avatar-width);

    border-width: var(--nlux-chatItem-message-borderWidth);
    border-style: solid;
    border-radius: var(--nlux-chatItem-avatar-borderRadius);

    aspect-ratio: 1;

    > .avtr_ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1;

        > .avtr_ltr {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        > .avtr_img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
        }
    }
}
