.nlux-comp-cht_itm {
    display: flex;
    align-items: var(--nlux-chatItem-alignItems);
    margin-bottom: 0.5em;
    gap: 0.5em;

    > .nlux-comp-msg {
        overflow: hidden;
        align-items: flex-start;
        flex: 1;
        flex-direction: column;
        flex-shrink: initial;
        min-width: 80px;
        min-height: 20px;
        padding: var(--nlux-chatItem-message-paddingTopBottom) var(--nlux-chatItem-message-paddingLeftRight);
        text-align: left;
        border-width: var(--nlux-chatItem-message-borderWidth);
        border-style: solid;
        border-radius: var(--nlux-chatItem-message-borderRadius);
        outline: 0;
        gap: var(--nlux-chatItem-message-flexGap);
    }
}

.nlux-comp-cht_itm.nlux_cht_itm_out {
    flex-direction: row-reverse;
    padding-left: 65px;

    > .nlux-comp-msg {
        color: var(--nlux-humanMessage-textColor);
        border-color: var(--nlux-humanMessage-borderColor);
        background-color: var(--nlux-humanMessage-backgroundColor);
    }

    > .nlux-comp-avtr {
        border-color: var(--nlux-humanMessage-borderColor);
    }
}

.nlux-comp-cht_itm.nlux_cht_itm_in {
    flex-direction: row;
    padding-right: 65px;

    > .nlux-comp-msg {
        color: var(--nlux-aiMessage-textColor);
        border-color: var(--nlux-aiMessage-borderColor);
        background-color: var(--nlux-aiMessage-backgroundColor);
    }

    > .nlux-comp-avtr {
        border-color: var(--nlux-aiMessage-borderColor);
    }
}
