.nlux-chtSgm.nlux-chtSgm-cmpl {
}

.nlux-chtSgm.nlux-chtSgm-err {
    background-color: #f8d7da;
}

.nlux-chtSgm.nlux-chtSgm-actv {
}

.nlux-chtSgm > .nlux-chtSgm-ldr-cntr {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 0.7rem 0.5rem 0.5rem 0.5rem;
}
