.nlux-comp-cht_itm.nlux_cht_itm_lst {
    align-items: flex-start;

    > .nlux-comp-msg {
        padding: var(--nlux-chItm-lstMsg--pdng-tpBtm) var(--nlux-chItm-lstMsg--pdng-lr);
    }

    > .nlux-comp-avtr {
        border-width: var(--nlux-chItm-lstMsg--brdrWd);
    }
}
