.nlux-comp-chatItem.nlux-comp-chatItem--listLayout {
    flex-direction: column;
    align-items: flex-start;

    > .nlux-comp-message {
        padding: var(--nlux-chItm-msg-lstLt--pdng-tpBtm) var(--nlux-chItm-msg-lstLt--pdng-lr);
        margin-top: var(--nlux-chItm-msg-lstLt--mrgTp);
        margin-bottom: var(--nlux-chItm-msg-lstLt--mrgBtm);
        margin-left: var(--nlux-chItm-msg-lstLt--mrgLft);
        margin-right: var(--nlux-chItm-msg-lstLt--mrgRgt);
        width: stretch;
        width: -webkit-fill-available;
        width: -moz-available;

    }

    > .nlux-comp-chatItem-participantInfo {
        > .nlux-comp-avatar {
            border-width: var(--nlux-chItm-msg-lstLt--brdrWd);
        }

        > .nlux-comp-chatItem-participantName:first-child {
            /* When no avatar is present, alight the participant name to where it would have been with the avatar */
            margin-left: calc(var(--nlux-chItm-msg-lstLt--mrgLft) + var(--nlux-comp-chatItem-participantInfo--gap));
        }
    }
}
