.nlux-comp-cht_itm {
    display: flex;
    margin-bottom: 0.5em;
    gap: 0.5em;

    > .nlux-comp-msg {
        display: flex;
        overflow: hidden;
        align-items: flex-start;
        flex: 1;
        flex-direction: column;
        flex-shrink: initial;
        min-width: 80px;
        min-height: 20px;
        margin: 0;
        text-align: left;
        border-radius: 0.25em;
        outline: 0;
        gap: var(--nlux-chItm-msg--gap);
    }

    > .nlux-comp-cht_itm-prt_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--nlux-chItm-prtInfo--gap);

        > .nlux-comp-cht_itm-prt_name {
            font-size: var(--nlux-prtInfo-prtNm--ftSz);
            font-weight: var(--nlux-prtInfo-prtNm--ftWg);
            color: var(--nlux-prtInfo-prtNm--clr);
        }
    }
}

/** OUT Chat item */
.nlux-comp-cht_itm.nlux_cht_itm_out {
    > .nlux-comp-cht_itm-prt_info > .nlux-comp-avtr {
        border-color: var(--nlux-hmMsg--brdClr);
    }
}

/** IN Chat item */
.nlux-comp-cht_itm.nlux_cht_itm_in {
    > .nlux-comp-cht_itm-prt_info > .nlux-comp-avtr {
        border-color: var(--nlux-aiMsg--brdClr);
    }
}
