.nlux-conversationStarters-container {
    overflow-y: scroll;

    > .nlux-comp-conversationStarters {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: max-content;
        min-width: 100%;
        padding: var(--nlux-cvStrt--pdng);

        > .nlux-comp-conversationStarter {
            font-family: var(--nlux-chtr--fnFm), sans-serif;

            width: 150px;
            height: 100px;
            overflow: hidden;
            padding: 10px;

            border-color: var(--nlux-cvStrt--brdClr);
            border-width: var(--nlux-cvStrt--brdrWd);
            border-radius: var(--nlux-cvStrt--brdrRd);
            border-style: solid;

            color: var(--nlux-cvStrt--txtClr);
            background-color: var(--nlux-cvStrt--bgClr);

            > .nlux-comp-conversationStarter-prompt {
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.3rem;
            }
        }
    }
}
