.nlux-AiChat-root {
    position: relative;

    > .nlux-exceptions-box-container {
        position: absolute;
        top: 0;
        display: flex;

        align-self: center;
        flex-direction: row;

        flex-grow: 1;
        justify-content: center;
        width: 100%;
        gap: 0;

        > .nlux-exceptions-box-exception-container {
            max-width: 85%;
            padding: var(--nlux-padding-s) var(--nlux-border-radius);
            color: var(--nlux-exceptions-box-error-text-color);
            border-width: var(--nlux-border-width);
            border-color: var(--nlux-exceptions-box-error-border-color);
            border-radius: var(--nlux-border-radius-s);
            background-color: var(--nlux-exceptions-box-error-background-color);

            > .nlux-exceptions-box-message {
                text-align: center;
            }
        }
    }
}
