.nlux-launchPad-container {
    display: flex;
    flex-direction: column;

    > .nlux-comp-welcomeMessage {
        flex: 2;
    }

    > .nlux-conversationStarters-container {
        flex: 1;
    }
}
