.nlux-comp-msg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 1.5em;
    margin: 0;
    padding: 0.5em;
    text-align: left;
    border: 1px solid;
    border-radius: 0.25em;

    > .nlux-md-strm-root {
        width: 100%;
    }

    .nlux-md-cntr {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5em;

        :is(p, pre, h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, table, hr) {
            margin: 0;
            padding: 0;
        }

        > .code-block {
            font-family: var(--nlux-codeBlock-fontFamily), monospace;
            font-size: var(--nlux-codeBlock-fontSize);

            position: relative;
            overflow: scroll;
            padding: 0;

            color: var(--nlux-codeBlock-textColor);
            border: var(--nlux-codeBlock-borderWidth) solid var(--nlux-codeBlock-borderColor);
            border-radius: var(--nlux-codeBlock-borderRadius);
            background-color: var(--nlux-codeBlock-backgroundColor);
        }

        > .code-block > pre {
            width: fit-content;
            min-width: 100%;
        }

        > .code-block > pre > div {
            padding: 0 var(--nlux-codeBlock-padding);
        }

        > .code-block > pre > div:hover {
            background-color: var(--nlux-codeBlock-hover-backgroundColor);
        }

        button.nlux-cpy-btn {
            position: relative;
            z-index: 999999;
            width: var(--nlux-codeBlock-copyButton-width);
            height: var(--nlux-codeBlock-copyButton-height);

            margin-right: calc(var(--nlux-codeBlock-copyButton-width) / 2);
            margin-bottom: calc(-1 * var(--nlux-codeBlock-copyButton-height));
            margin-left: auto;

            padding: var(--nlux-codeBlock-copyButton-padding);

            cursor: pointer;
            color: var(--nlux-codeBlock-copyButton-textColor);
            border: var(--nlux-codeBlock-copyButton-borderWidth) solid var(--nlux-codeBlock-copyButton-borderColor);
            border-radius: var(--nlux-codeBlock-copyButton-borderRadius);
            background-color: var(--nlux-codeBlock-copyButton-backgroundColor);
        }

        button.nlux-cpy-btn {
            &.clicked,
            &.clicked:hover {
                color: var(--nlux-codeBlock-clickedCopyButton-textColor);
                border-color: var(--nlux-codeBlock-clickedCopyButton-borderColor);
                background-color: var(--nlux-codeBlock-clickedCopyButton-backgroundColor);
            }

            &:hover * {
                opacity: 0.5;
            }

            &.clicked:hover * {
                opacity: 1;
            }
        }

        code {
            font-family: var(--nlux-inlineCode-fontFamily), monospace;
            font-size: var(--nlux-inlineCode-fontSize);

            padding: var(--nlux-inlineCode-padding);

            color: var(--nlux-inlineCode-textColor);
            border-radius: var(--nlux-inlineCode-borderRadius);
            background-color: var(--nlux-inlineCode-backgroundColor);
        }

        strong {
            font-weight: bold;
        }
    }
}
