.nlux-comp-msg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 1.5em;
    margin: 0;
    padding: 0.5em;
    text-align: left;
    border: 1px solid;
    border-radius: 0.25em;
    box-shadow: var(--nlux-boxShadow);

    > .nlux-md-strm-root {
        width: 100%;
    }

    .nlux-md-cntr {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5em;

        :is(p, pre, h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, table, hr) {
            margin: 0;
            padding: 0;
        }

        > .code-block {
            font-family: var(--nlux-monoFontFamily), monospace;
            font-size: var(--nlux-fontSize-s);

            position: relative;
            overflow: scroll;
            padding: var(--nlux-padding) 0;

            color: var(--nlux-codeBlock-text-color);
            border: none;
            border-radius: var(--nlux-borderRadius-s);
            background-color: var(--nlux-codeBlock-backgroundColor);
            box-shadow: var(--nlux-boxShadow);
        }

        > .code-block > pre {
            width: fit-content;
            min-width: 100%;
        }

        > .code-block > pre > div {
            padding: 0 var(--nlux-padding-m);
        }

        > .code-block > pre > div:hover {
            background-color: var(--nlux-codeBlock-hover-backgroundColor);
        }

        button.nlux-cpy-btn {
            position: relative;
            z-index: 999999;
            width: 25px;
            height: 24px;

            margin-right: 10px;
            margin-bottom: -23px;
            margin-left: auto;

            padding: 4px;

            cursor: pointer;
            color: var(--nlux-codeBlock-backgroundColor);
            border: 1px solid var(--nlux-codeBlock-backgroundColor);
            border-radius: var(--nlux-borderRadius-xs);
            background-color: var(--nlux-aiMessage-backgroundColor);
        }

        button.nlux-cpy-btn {
            &.clicked,
            &.clicked:hover {
                color: var(--nlux-aiMessage-backgroundColor);
                border-color: var(--nlux-codeBlock-backgroundColor);
                background-color: var(--nlux-codeBlock-backgroundColor);
            }

            &:hover * {
                opacity: 0.5;
            }

            &.clicked:hover * {
                opacity: 1;
            }
        }

        code {
            font-family: var(--nlux-monoFontFamily), monospace;
            font-size: var(--nlux-fontSize-s);

            padding: var(--nlux-padding-xs) var(--nlux-padding-s);

            color: var(--nlux-inlineCode-textColor);
            border-radius: var(--nlux-borderRadius-xs);
            background-color: var(--nlux-inlineCode-backgroundColor);
        }

        strong {
            font-weight: bold;
        }
    }
}
