.nlux-comp-prmptBox {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;

    background-color: transparent;
    gap: var(--nlux-flex-gap);

    > textarea {
        font-family: var(--nlux-font-family), sans-serif;
        font-size: var(--nlux-font-size);

        font-weight: 400;
        line-height: 1.5;
        flex: 1;
        padding: .375rem .75rem;
        resize: none;
        cursor: pointer;
        transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
        color: var(--nlux-input-text-color);
        border-width: var(--nlux-border-width);
        border-style: solid;
        border-color: var(--nlux-input-border-color);
        border-radius: var(--nlux-border-radius-m);
        outline: 0;
        background-color: var(--nlux-input-background-color);
    }

    > button {
        font-family: var(--nlux-font-family);
        font-size: var(--nlux-font-size);
        font-weight: var(--nlux-font-weight);
        line-height: var(--nlux-line-height);
        display: flex;
        align-items: center;

        justify-content: center;
        width: 65px;
        cursor: pointer;
        color: var(--nlux-button-text-color);
        border-width: var(--nlux-border-width);
        border-style: solid;
        border-color: var(--nlux-button-border-color);
        border-radius: var(--nlux-border-radius-m);
        background-color: var(--nlux-button-background-color);

        > .nlux_sndIcn {
            width: 100%;
            max-width: 24px;

            > .snd_icn_ctn {
                display: inline-block;
                width: 100%;
                background-color: currentColor;
                background-repeat: no-repeat;
                background-size: contain;
                mask: var(--nlux-send-icon);
                aspect-ratio: 1;
            }
        }

        > .nlux_msg_ldr {
            display: none;
        }
    }

    > button:disabled {
        cursor: not-allowed;
        color: var(--nlux-button-disabled-text-color);
        border-color: var(--nlux-button-disabled-border-color);
        background-color: var(--nlux-button-disabled-background-color);
    }
}

.nlux-comp-prmptBox.nlux-prmpt-typing {
    button > .nlux_sndIcn {
        display: inline-block;
    }

    button > .nlux_msg_ldr {
        display: none;
    }
}

.nlux-comp-prmptBox.nlux-prmpt-submitting,
.nlux-comp-prmptBox.nlux-prmpt-waiting {
    button > .nlux_sndIcn {
        display: none;
    }

    button > .nlux_msg_ldr {
        display: inline-block;
    }
}
