.nlux-comp-prmptBox {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;

    background-color: transparent;
    gap: var(--nlux-flexGap);

    > textarea {
        font-family: var(--nlux-fontFamily), sans-serif;
        font-size: var(--nlux-fontSize);

        font-weight: 400;
        line-height: 1.5;
        flex: 1;
        padding: .375rem .75rem;
        resize: none;
        cursor: pointer;
        transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
        color: var(--nlux-input-textColor);
        border-width: var(--nlux-borderWidth);
        border-style: solid;
        border-color: var(--nlux-input-borderColor);
        border-radius: var(--nlux-borderRadius-m);
        outline: 0;
    }

    > button {
        display: flex;
        align-items: center;

        justify-content: center;
        width: 65px;
        cursor: pointer;
        color: var(--nlux-button-textColor);
        border-width: var(--nlux-borderWidth);
        border-style: solid;
        border-color: var(--nlux-button-borderColor);
        border-radius: var(--nlux-borderRadius-m);
        background-color: var(--nlux-button-backgroundColor);

        &:focus,
        &:hover {
            background-color: var(--nlux-button-active-backgroundColor);
        }

        > .nlux_sndIcn {
            width: 100%;
            max-width: 24px;

            > .snd_icn_ctn {
                display: inline-block;
                width: 100%;
                background-color: currentColor;
                background-repeat: no-repeat;
                background-size: contain;
                mask: var(--nlux-send-icon);
                aspect-ratio: 1;
            }
        }

        > .nlux_msg_ldr {
            display: none;
        }
    }

    > button:disabled {
        cursor: not-allowed;
        color: var(--nlux-button-disabled-textColor);
        border-color: var(--nlux-button-disabled-borderColor);
        background-color: var(--nlux-button-disabled-backgroundColor);
    }
}

.nlux-comp-prmptBox.nlux-prmpt-typing {
    button > .nlux_sndIcn {
        display: inline-block;
    }

    button > .nlux_msg_ldr {
        display: none;
    }
}

.nlux-comp-prmptBox.nlux-prmpt-submitting,
.nlux-comp-prmptBox.nlux-prmpt-waiting {
    button > .nlux_sndIcn {
        display: none;
    }

    button > .nlux_msg_ldr {
        display: inline-block;
    }
}
