.nluxc-root {
    .nluxc-prompt-box-container {
        display: flex;
        align-items: stretch;
        flex-direction: row;

        gap: var(--nluxc-flex-gap);

        > .nluxc-prompt-box-text-input {
            flex: 1;
            resize: none;
        }

        > .nluxc-prompt-box-send-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65px;

            > svg {
                width: 80%;
            }

            > .spinning-loader {
                display: none;
            }

            &.nluxc-prompt-box-send-button-loading {
                > svg {
                    display: none;
                }

                > .spinning-loader {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &.loading {
            cursor: auto;
        }
    }
}
