.nluxc-root {
    .nluxc-prompt-box-container {
        > .nluxc-prompt-box-send-button.nluxc-prompt-box-send-button-loading {
            > .loader {
                transform: rotateZ(45deg);
                border-radius: 50%;
                perspective: 1000px;
            }

            .loader:before,
            .loader:after {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: inherit;
                height: inherit;
                content: '';
                transform: rotateX(70deg);
                animation: 1s nlux-loader-spin linear infinite;
                border-radius: 50%;
            }

            .loader:after {
                transform: rotateY(70deg);
                animation-delay: .4s;
            }
        }
    }
}

@keyframes nlux-loader-spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
