.nlux-comp-prmptBox {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;

    background-color: transparent;
    gap: var(--nlux-promptBox-flexGap);

    > textarea {
        font-family: var(--nlux-promptInput-fontFamily), sans-serif;
        font-size: var(--nlux-promptInput-fontSize);

        font-weight: 400;
        line-height: 1.5;
        flex: 1;
        padding: .375rem .75rem;
        resize: none;
        cursor: pointer;
        color: var(--nlux-promptInput-textColor);

        border-width: var(--nlux-promptInput-borderWidth);
        border-style: solid;
        border-color: var(--nlux-promptInput-borderColor);
        border-radius: var(--nlux-promptInput-borderRadius);

        outline: none;
        background-color: var(--nlux-promptInput-backgroundColor);

        &:focus {
            outline: var(--nlux-promptInput-focus-outlineColor) solid var(--nlux-promptInput-focus-outlineWidth);
        }

        &:disabled,
        &:disabled:hover {
            cursor: auto;
            color: var(--nlux-promptInput-disabled-textColor);
            border-color: var(--nlux-promptInput-disabled-borderColor);
            background-color: var(--nlux-promptInput-disabled-backgroundColor);
        }

        &:focus,
        &:hover {
            color: var(--nlux-promptInput-active-textColor);
            border-color: var(--nlux-promptInput-active-borderColor);
            background-color: var(--nlux-promptInput-active-backgroundColor);
        }

        &::placeholder {
            color: var(--nlux-promptInput-placeholderTextColor);
        }
    }

    > button {
        display: flex;
        align-items: center;

        justify-content: center;
        width: var(--nlux-submitButton-width);
        cursor: pointer;
        color: var(--nlux-submitButton-textColor);
        border-width: var(--nlux-submitButton-borderWidth);
        border-style: solid;
        border-color: var(--nlux-submitButton-borderColor);
        border-radius: var(--nlux-submitButton-borderRadius);
        background-color: var(--nlux-submitButton-backgroundColor);

        &:focus,
        &:hover {
            color: var(--nlux-submitButton-active-textColor);
            border-color: var(--nlux-submitButton-active-borderColor);
            background-color: var(--nlux-submitButton-active-backgroundColor);
        }

        &:focus {
            outline: var(--nlux-submitButton-focus-outlineColor) solid var(--nlux-submitButton-focus-outlineWidth);
        }

        > .nlux_sndIcn {
            width: 100%;
            max-width: 24px;

            > .snd_icn_ctn {
                display: inline-block;
                width: 100%;
                background-color: currentColor;
                background-repeat: no-repeat;
                background-size: contain;
                mask: var(--nlux-send-icon);
                aspect-ratio: 1;
            }
        }

        > .nlux_msg_ldr {
            display: none;
        }
    }

    > button:disabled {
        cursor: not-allowed;
        color: var(--nlux-submitButton-disabled-textColor);
        border-color: var(--nlux-submitButton-disabled-borderColor);
        background-color: var(--nlux-submitButton-disabled-backgroundColor);
    }
}

.nlux-comp-prmptBox.nlux-prmpt-typing {
    button > .nlux_sndIcn {
        display: inline-block;
    }

    button > .nlux_msg_ldr {
        display: none;
    }
}

.nlux-comp-prmptBox.nlux-prmpt-submitting,
.nlux-comp-prmptBox.nlux-prmpt-waiting {
    button > .nlux_sndIcn {
        display: none;
    }

    button > .nlux_msg_ldr {
        display: inline-block;
    }
}
