.nluxc-root {
    .nluxc-text-message-container {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--nluxc-padding-l);

        > .nluxc-text-message-content {
            display: flex;
            flex-direction: column;
            gap: var(--nluxc-flex-gap);

            width: 80%;
            min-width: 80px;
            min-height: 25px;
            padding: var(--nluxc-padding-m) var(--nluxc-padding-l);
            text-align: left;

            border-width: var(--nluxc-border-width);
            border-style: solid;

            border-radius: var(--nluxc-border-radius-m);
            outline: none;

            :is(p, pre, h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, table, hr) {
                padding: 0;
                margin: 0;
            }
        }

        > .nluxc-text-message-content .code-block {
            position: relative;

            font-family: var(--nluxc-mono-font-family);
            font-size: var(--nluxc-font-size-s);
            overflow: scroll;
            padding: var(--nluxc-padding) 0;

            color: var(--nlux-code-block-text-color);
            border: none;
            border-radius: var(--nluxc-border-radius-s);
            background-color: var(--nlux-code-block-background-color);
            box-shadow: var(--nluxc-box-shadow);
        }

        > .nluxc-text-message-content .code-block > pre {
            width: fit-content;
            min-width: 100%;
        }

        > .nluxc-text-message-content .code-block > pre > div {
            padding: 0 var(--nluxc-padding-m);
        }

        > .nluxc-text-message-content .code-block > pre > div:hover {
            background-color: var(--nlux-code-block-hover-background-color);
        }

        > .nluxc-text-message-content button.copy-button {
            z-index: 999999;
            position: relative;
            width: 25px;
            height: 24px;

            margin-left: auto;
            margin-right: 10px;
            margin-bottom: -23px;

            padding: 4px;

            border: 1px solid var(--nlux-code-block-background-color);
            border-radius: var(--nluxc-border-radius-xs);
            background-color: var(--nluxc-message-received-background-color);
            color: var(--nlux-code-block-background-color);
            cursor: pointer;
        }

        > .nluxc-text-message-content button.copy-button:hover * {
            opacity: 0.5;
        }

        > .nluxc-text-message-content button.copy-button.clicked,
        > .nluxc-text-message-content button.copy-button.clicked:hover {
            background-color: var(--nlux-code-block-background-color);
            color: var(--nluxc-message-received-background-color);
            border-color: var(--nlux-code-block-background-color);
        }

        > .nluxc-text-message-content button.copy-button.clicked:hover * {
            opacity: 1;
        }

        > .nluxc-text-message-content code {
            font-family: var(--nluxc-mono-font-family);
            font-size: var(--nluxc-font-size-s);
            padding: var(--nluxc-padding-xs) var(--nluxc-padding-s);

            color: var(--nlux-inline-code-text-color);
            border-radius: var(--nluxc-border-radius-xs);
            background-color: var(--nlux-inline-code-background-color);
        }

        > .nluxc-text-message-content strong {
            font-weight: bold;
        }
    }

    .nluxc-text-message-container.message-status-loading,
    .nluxc-text-message-container.message-status-connecting {
        > .nluxc-text-message-content {
            display: none;
        }

        > .nluxc-text-message-loader {
            display: flex;
            gap: var(--nluxc-flex-gap);
            align-items: center;
            justify-content: center;

            height: 40px;
            padding: 0 var(--nluxc-padding-m);

            background-color: var(--nluxc-message-received-background-color);
            color: var(--nluxc-message-received-text-color);

            border-color: var(--nluxc-message-received-border-color);
            border-width: var(--nluxc-border-width);
            border-style: solid;

            border-radius: var(--nluxc-border-radius-m);
            outline: none;

            > .spinning-loader-container {
                width: 17px;

                > .spinning-loader {
                    width: 15px;
                    height: 15px;
                    margin-top: 4px;
                }
            }
        }
    }

    .nluxc-text-message-container:not(.message-status-loading, .message-status-connecting) {
        > .nluxc-text-message-content {
            display: flex;
        }

        > .nluxc-text-message-loader {
            display: none;
        }
    }

    .nluxc-text-message-container.nluxc-text-message-received {
        align-items: flex-start;

        > .nluxc-text-message-content,
        > .nluxc-text-message-loader {
            margin-left: var(--nluxc-padding-s);
            color: var(--nluxc-message-received-text-color);
            border-color: var(--nluxc-message-received-border-color);
            background-color: var(--nluxc-message-received-background-color);
        }

        > .nluxc-text-message-content:focus,
        > .nluxc-text-message-content:active,
        > .nluxc-text-message-loader:focus,
        > .nluxc-text-message-loader:active {
            color: var(--nluxc-message-received-active-text-color);
            border-color: var(--nluxc-message-received-active-border-color);
            background-color: var(--nluxc-message-received-active-background-color);
            box-shadow: var(--nluxc-box-shadow);
        }
    }

    .nluxc-text-message-container.nluxc-text-message-sent {
        align-items: flex-end;

        > .nluxc-text-message-content {
            margin-right: var(--nluxc-padding-s);
            color: var(--nluxc-message-sent-text-color);
            border-color: var(--nluxc-message-sent-border-color);
            background-color: var(--nluxc-message-sent-background-color);
        }

        > .nluxc-text-message-content:focus,
        > .nluxc-text-message-content:active {
            color: var(--nluxc-message-sent-active-text-color);
            border-color: var(--nluxc-message-sent-active-border-color);
            background-color: var(--nluxc-message-sent-active-background-color);
            box-shadow: var(--nluxc-box-shadow);
        }
    }
}
