.nlux-AiChat-root {
    .nlux-text-message-container {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        padding-bottom: var(--nlux-padding-m);

        > .nlux-text-message-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: initial;

            min-width: 80px;
            min-height: 20px;
            padding: var(--nlux-padding) var(--nlux-padding-m);
            text-align: left;

            border-width: var(--nlux-border-width);
            border-style: solid;
            border-radius: var(--nlux-border-radius-m);

            outline: none;
            gap: var(--nlux-flex-gap);

            :is(p, pre, h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, table, hr) {
                margin: 0;
                padding: 0;
            }
        }

        > .nlux-text-message-content .code-block {
            font-family: var(--nlux-mono-font-family);

            font-size: var(--nlux-font-size-s);
            position: relative;
            overflow: scroll;
            padding: var(--nlux-padding) 0;

            color: var(--nlux-code-block-text-color);
            border: none;
            border-radius: var(--nlux-border-radius-s);
            background-color: var(--nlux-code-block-background-color);
            box-shadow: var(--nlux-box-shadow);
        }

        > .nlux-text-message-content .code-block > pre {
            width: fit-content;
            min-width: 100%;
        }

        > .nlux-text-message-content .code-block > pre > div {
            padding: 0 var(--nlux-padding-m);
        }

        > .nlux-text-message-content .code-block > pre > div:hover {
            background-color: var(--nlux-code-block-hover-background-color);
        }

        > .nlux-text-message-content button.copy-button {
            position: relative;
            z-index: 999999;
            width: 25px;
            height: 24px;

            margin-right: 10px;
            margin-bottom: -23px;
            margin-left: auto;

            padding: 4px;

            cursor: pointer;
            color: var(--nlux-code-block-background-color);
            border: 1px solid var(--nlux-code-block-background-color);
            border-radius: var(--nlux-border-radius-xs);
            background-color: var(--nlux-message-received-background-color);
        }

        > .nlux-text-message-content {
            button.copy-button {
                &.clicked,
                &.clicked:hover {
                    color: var(--nlux-message-received-background-color);
                    border-color: var(--nlux-code-block-background-color);
                    background-color: var(--nlux-code-block-background-color);
                }

                &:hover * {
                    opacity: 0.5;
                }

                &.clicked:hover * {
                    opacity: 1;
                }
            }

            code {
                font-family: var(--nlux-mono-font-family);
                font-size: var(--nlux-font-size-s);
                padding: var(--nlux-padding-xs) var(--nlux-padding-s);

                color: var(--nlux-inline-code-text-color);
                border-radius: var(--nlux-border-radius-xs);
                background-color: var(--nlux-inline-code-background-color);
            }

            strong {
                font-weight: bold;
            }
        }

        > .nlux-text-message-persona {
            flex-grow: 0;
            flex-shrink: 0;

            > .nlux-text-message-persona-photo-container {
                position: relative;
                overflow: hidden;
                width: 40px;
                height: 40px;

                border-width: 0;
                border-radius: 50%;

                /* We use !important because those styles could apply to user-provided elements
                 (when the user provides JSX for persona profile picture) and we want to force full
                 stretch of the parent element of the JSX ! */

                > * {
                    position: absolute !important;
                    top: 0 !important;
                    right: 0 !important;
                    bottom: 0 !important;
                    left: 0 !important;
                }

                > .nlux-text-message-persona-letter {
                    font-size: var(--nlux-font-size-l);
                    z-index: 888888;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 5px;
                    border-radius: 50%;
                }

                > .nlux-text-message-persona-rendered-photo {
                    z-index: 999999;
                    background-position: center center;
                    background-size: cover;
                }
            }
        }

        &.message-status-loading,
        &.message-status-connecting {
            > .nlux-text-message-content {
                display: none;
            }

            > .nlux-text-message-loader {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;

                padding: 0 var(--nlux-padding-m);
                color: var(--nlux-message-received-text-color);

                border-width: var(--nlux-border-width);
                border-style: solid;

                border-color: var(--nlux-message-received-border-color);
                border-radius: var(--nlux-border-radius-m);
                outline: none;

                background-color: var(--nlux-message-received-background-color);
                gap: var(--nlux-flex-gap);

                > .spinning-loader-container {
                    width: 17px;

                    > .spinning-loader {
                        width: 15px;
                        height: 15px;
                        margin-top: 4px;
                    }
                }
            }
        }

        &:not(.message-status-loading, .message-status-connecting) {
            > .nlux-text-message-content {
                display: flex;
            }

            > .nlux-text-message-loader {
                display: none;
            }
        }

        &.nlux-text-message-received {
            flex-direction: row;
            padding-right: 65px;

            > .nlux-text-message-content,
            > .nlux-text-message-loader,
            > .nlux-text-message-persona > .nlux-text-message-persona-photo-container {
                margin-left: var(--nlux-padding-s);
                color: var(--nlux-message-received-text-color);
                border-color: var(--nlux-message-received-border-color);
                background-color: var(--nlux-message-received-background-color);
            }

            > .nlux-text-message-content:focus,
            > .nlux-text-message-content:active,
            > .nlux-text-message-loader:focus,
            > .nlux-text-message-loader:active {
                color: var(--nlux-message-received-active-text-color);
                border-color: var(--nlux-message-received-active-border-color);
                background-color: var(--nlux-message-received-active-background-color);
                box-shadow: var(--nlux-box-shadow);
            }
        }

        &.nlux-text-message-sent {
            flex-direction: row-reverse;
            padding-left: 65px;

            > .nlux-text-message-content,
            > .nlux-text-message-persona > .nlux-text-message-persona-photo-container {
                margin-right: var(--nlux-padding-s);
                color: var(--nlux-message-sent-text-color);
                border-color: var(--nlux-message-sent-border-color);
                background-color: var(--nlux-message-sent-background-color);
            }

            > .nlux-text-message-content:focus,
            > .nlux-text-message-content:active {
                color: var(--nlux-message-sent-active-text-color);
                border-color: var(--nlux-message-sent-active-border-color);
                background-color: var(--nlux-message-sent-active-background-color);
                box-shadow: var(--nlux-box-shadow);
            }
        }
    }
}
