.nlux-comp-wlc_msg {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    gap: var(--nlux-wlcMsg--gap);

    > .nlux-comp-wlc_msg_prs_nm {
        font-size: var(--nlux-wlcMsg-prsNm--ftSz);
        font-weight: bold;
    }

    > .nlux-comp-avtr {
        width: var(--nlux-wlcMsg-avtr--wd);
        border-color: var(--nlux-wlcMsg-avtr--brdrClr);
    }
}
