.nlux-AiChat-root.nlux-theme-fest {
    /**
     * Theme-specific local variables.
     **/

    --nlux-fest--Outline-Color: blue;
    --nlux-fest--Input-BorderColor: mediumseagreen;
    --nlux-fest--Input-Active-BorderColor: limegreen;
    --nlux-fest--Input-Disabled-BorderColor: darkgrey;
    --nlux-fest--Input-BackgroundColor: honeydew;
    --nlux-fest--Input-Active-BackgroundColor: white;
    --nlux-fest--Input-Disabled-BackgroundColor: lightgrey;
    --nlux-fest--Input-Disabled-TextColor: grey;

    /**
     * Definitions and overrides of required theme variables.
     **/

    /** Exceptions box */
    --nlux-Exceptions--BackgroundColor: tomato;
    --nlux-Exceptions--BorderColor: darkred;
    --nlux-Exceptions--TextColor: white;

    /** Welcome message */
    --nlux-WelcomeMessage-Avatar--BorderColor: darkgoldenrod;

    /** Divider between prompt box and messages */
    --nlux-ChatRoom-Divider--Color: red;

    /** Conversation loader */
    --nlux-ChatRoom-Loader--Color: red;

    /** Conversation content color */
    --nlux-ChatRoom--BackgroundColor: lavender;
    --nlux-ChatRoom--BorderColor: darkgoldenrod;
    --nlux-ChatRoom--TextColor: black;

    /* Human message in chat */
    --nlux-HumanMessage--BackgroundColor: lemonchiffon;
    --nlux-HumanMessage--BorderColor: darkkhaki;
    --nlux-HumanMessage--TextColor: black;

    /** AI message in chat */
    --nlux-AiMessage--BackgroundColor: dimgrey;
    --nlux-AiMessage--BorderColor: black;
    --nlux-AiMessage--TextColor: white;

    /** Prompt input colors */
    --nlux-PromptInput--BackgroundColor: var(--nlux-fest--Input-BackgroundColor);
    --nlux-PromptInput--BorderColor: var(--nlux-fest--Input-BorderColor);
    --nlux-PromptInput--TextColor: black;

    --nlux-PromptInput-Active--BackgroundColor: var(--nlux-fest--Input-Active-BackgroundColor);
    --nlux-PromptInput-Active--BorderColor: var(--nlux-fest--Input-Active-BorderColor);
    --nlux-PromptInput-Active--TextColor: black;

    --nlux-PromptInput-Disabled--BackgroundColor: var(--nlux-fest--Input-Disabled-BackgroundColor);
    --nlux-PromptInput-Disabled--TextColor: var(--nlux-fest--Input-Disabled-TextColor);
    --nlux-PromptInput-Disabled--BorderColor: var(--nlux-fest--Input-Disabled-BorderColor);

    --nlux-PromptInput-Olaceholder--TextColor: darkseagreen;
    --nlux-PromptInput-Focus-Outline--Color: var(--nlux-fest--Outline-Color);

    /** Submit button colors */
    --nlux-SubmitButton--BackgroundColor: var(--nlux-fest--Input-BackgroundColor);
    --nlux-SubmitButton--BorderColor: var(--nlux-fest--Input-BorderColor);
    --nlux-SubmitButton--TextColor: mediumseagreen;

    --nlux-SubmitButton-Active--BackgroundColor: var(--nlux-fest--Input-Active-BackgroundColor);
    --nlux-SubmitButton-Active--BorderColor: var(--nlux-fest--Input-Active-BorderColor);
    --nlux-SubmitButton-Active--TextColor: limegreen;

    --nlux-SubmitButton-Disabled--BackgroundColor: var(--nlux-fest--Input-Disabled-BackgroundColor);
    --nlux-SubmitButton-Disabled--BorderColor: var(--nlux-fest--Input-Disabled-BorderColor);
    --nlux-SubmitButton-Disabled--TextColor: var(--nlux-fest--Input-Disabled-TextColor);

    --nlux-SubmitButton-Focus-Outline--Color: var(--nlux-fest--Outline-Color);

    /** Code block */
    --nlux-CodeBlock--BackgroundColor: gold;
    --nlux-CodeBlock--BorderColor: deeppink;
    --nlux-CodeBlock--TextColor: black;
    --nlux-CodeBlock-Hover--BackgroundColor: lightgoldenrodyellow;

    /** Code block copy button */
    --nlux-CodeBlock-CopyButton--BackgroundColor: darkgoldenrod;
    --nlux-CodeBlock-CopyButton--BorderColor: darkred;
    --nlux-CodeBlock-CopyButton--TextColor: white;

    /** Code block copy button in clicked state */
    --nlux-CodeBlock-CopyButton-Clicked--BackgroundColor: greenyellow;
    --nlux-CodeBlock-CopyButton-Clicked--BorderColor: limegreen;
    --nlux-CodeBlock-CopyButton-Clicked--TextColor: black;

    /** Inline code in markdown */
    --nlux-InlineCode--BackgroundColor: chartreuse;
    --nlux-InlineCode--BorderColor: darkgreen;
    --nlux-InlineCode--TextColor: black;
}
