.nluxc-root.nluxc-theme-kensington {
    --nluxc-primary-color: #10c17d;
    --nluxc-secondary-color: #ffb800;
    --nluxc-tertiary1-color: #6d5ffd;
    --nluxc-tertiary2-color: #ff1843;

    --nluxc-neutral-black: #0a101c;

    --nluxc-neutral-1: #2f3a4a;
    --nluxc-neutral-2: #3b4451;
    --nluxc-neutral-3: #565d68;
    --nluxc-neutral-4: #6f757f;
    --nluxc-neutral-5: #868c93;
    --nluxc-neutral-6: #a6abb2;
    --nluxc-neutral-7: #dbdee2;
    --nluxc-neutral-8: #ebeef2;
    --nluxc-neutral-9: #f4f6f9;
    --nluxc-neutral-10: #ffffff;

    --nluxc-accents-1: #e3b4ee;
    --nluxc-accents-2: #3d6969;
    --nluxc-accents-3: #e0af91;
    --nluxc-accents-4: #20186f;
    --nluxc-accents-5: #8dc4d4;
    --nluxc-accents-6: #d16854;

    --nluxc-action-primary-default: #59be83;
    --nluxc-action-primary-hover: #6cca9b;
    --nluxc-action-primary-active: #469868;
    --nluxc-action-primary-disabled: #9cdec0;
    --nluxc-action-primary-hover-2: #eaf8f2;
    --nluxc-action-primary-active-2: #d6f2e6;
    --nluxc-action-primary-inverted: #ffffff;

    --nluxc-action-secondary-default: #f4bb40;
    --nluxc-action-secondary-hover: #f4bb40;
    --nluxc-action-secondary-active: #f4bb40;
    --nluxc-action-secondary-disabled: #f9dc8d;
    --nluxc-action-secondary-hover-2: #fef8e7;
    --nluxc-action-secondary-active-2: #fdf2d0;
    --nluxc-action-secondary-inverted: #ffffff;

    --nluxc-action-neutral-default: #9298a0;
    --nluxc-action-neutral-hover: #868c93;
    --nluxc-action-neutral-active: #7a8086;
    --nluxc-action-neutral-disabled: #b2b7bc;
    --nluxc-action-neutral-hover-2: #f0f1f2;
    --nluxc-action-neutral-active-2: #e2e3e6;
    --nluxc-action-neutral-inverted: #ffffff;

    --nluxc-success: #51a55f;
    --nluxc-warning: #ac5620;
    --nluxc-error: #c83025;
    --nluxc-info: #3959a6;

    --nluxc-success-bg: #eff9f1;
    --nluxc-warning-bg: #fdf4ed;
    --nluxc-error-bg: #fbefef;
    --nluxc-info-bg: #eff2f9;
}
