.nluxc-root.nluxc-theme-kensington {
    --nluxc-font-family: source-sans-pro, sans-serif;
    --nluxc-mono-font-family: monospace;

    --nluxc-text-color: var(--nluxc-text-color);
    --nluxc-font-weight: 400;
    --nluxc-line-height: 1.4;

    --nluxc-font-size: 1rem;
    --nluxc-font-size-s: 0.8rem;

    --nluxc-padding-xs: 0.1rem;
    --nluxc-padding-s: 0.3rem;
    --nluxc-padding: 0.6rem;
    --nluxc-padding-m: 0.8rem;
    --nluxc-padding-l: 1rem;

    --nluxc-flex-gap: 0.5rem;

    --nluxc-border-radius-xs: 4px;
    --nluxc-border-radius-s: 6px;
    --nluxc-border-radius: 8px;
    --nluxc-border-radius-m: 10px;
    --nluxc-border-radius-l: 12px;

    --nluxc-border-width: 1px;
    --nluxc-box-shadow: 0 0 2px rgb(0 0 0 / 30%);
}
