.nlux-comp-cht_itm {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    > .nlux-comp-msg {
        flex: 1;
    }
}

.nlux-comp-cht_itm.nlux_cht_itm_incoming {
    flex-direction: row-reverse;
}

.nlux-comp-cht_itm.nlux_cht_itm_outgoing {
    flex-direction: row;
}
